:host {
  --color: var(--teaser-plain-color);
  --teaser-plain-a-picture-figcaption-background-color-hover: var(--teaser-plain-a-picture-figcaption-background-color-hover-custom,var(--teaser-plain-background-color-hover-custom, var(--teaser-plain-background-color)));
  --teaser-plain-a-picture-margin: var(--teaser-plain-a-picture-margin-custom, 0.6em);
  --teaser-plain-a-picture-width: calc(100% - var(--teaser-plain-a-picture-margin) * 2);
  --teaser-plain-background-color: var(--teaser-plain-background-color-custom, var(--color-secondary, var(--background-color, var(--m-white))));
  --teaser-plain-border-radius-mobile: var(--teaser-plain-border-radius-mobile-custom, 0.571em);
  --teaser-plain-border-radius: var(--teaser-plain-border-radius-custom, 0.5em);
  --teaser-plain-color: var(--teaser-plain-color-custom, var(--background-color, var(--m-white)));
  --teaser-plain-figcaption-any-opacity: 0;
  --teaser-plain-figcaption-any-transform-origin: center top;
  --teaser-plain-figcaption-any-transform: var(--teaser-plain-figcaption-any-transform-custom, perspective(400px) rotateX(-45deg));
  --teaser-plain-figcaption-any-transition: transform .45s .6s cubic-bezier(.17,.67,.28,1),opacity .45s .4s cubic-bezier(.17,.67,.28,1), opacity 0.3s .4s ease-out;
  --teaser-plain-figcaption-background-color-hover: var(--teaser-plain-background-color-hover-custom, var(--color-hover, var(--teaser-plain-background-color)));
  --teaser-plain-figcaption-background-color: var(--teaser-plain-figcaption-background-color-custom, var(--teaser-plain-background-color));
  --teaser-plain-figcaption-bg-color-equal-padding: var(--teaser-plain-figcaption-bg-color-equal-padding-custom, 0.625em 0 0);
  --teaser-plain-figcaption-display: flex;
  --teaser-plain-figcaption-flex-direction: column;
  --teaser-plain-figcaption-justify-content: var(--teaser-plain-figcaption-justify-content-custom, flex-end);
  --teaser-plain-figcaption-padding: 0.625em;
  --teaser-plain-figcaption-transition: background-color 0.3s ease-out;
  --teaser-plain-h-color: var(--teaser-plain-color);
  --teaser-plain-h2-margin: var(--teaser-plain-h2-margin-custom);
  --teaser-plain-h5-margin: 0 0 0.5em;
  --teaser-plain-intersecting-figcaption-any-opacity: 1;
  --teaser-plain-intersecting-figcaption-any-transform: var(--teaser-plain-intersecting-figcaption-any-transform-custom, perspective(400px) rotateX(0));
  --teaser-plain-p-font-size: 0.875em;
  --teaser-plain-p-line-height: var(--teaser-plain-p-line-height-custom, 1.14em);
  --teaser-plain-p-margin: 0 0 0.625em;
}
@media only screen and (max-width: _max-width_) {
  :host {
    --teaser-plain-p-font-size: var(--p-font-size-mobile, var(--p-font-size, 1em));
    --teaser-plain-p-line-height: var(--p-line-height-mobile, var(--p-line-height, var(--line-height, normal)));
  }
}