:host {
  --wrapper-teaser-align-items: normal;
  --wrapper-teaser-gap: var(--wrapper-teaser-gap-custom, var(--content-spacing));
  --wrapper-teaser-justify-content: var(--wrapper-teaser-justify-content-custom, left);
}
@media only screen and (max-width: _max-width_) {
  :host {
    --wrapper-teaser-gap: var(--wrapper-teaser-gap-custom, var(--content-spacing-mobile, var(--content-spacing)));
  }
}