<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="user-scalable=no, viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/initial.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>Classics</title>
</head>
<body>
  <p-general>
    <o-body>
      <h2>NEWSLETTER</h2>
      <p>Hier gibts den Newsletter</p>
      <br>
      <m-form type="newsletter" namespace="search-" namespace-children="search-field-" use-html-submit>
          <style>
            :host {
              --search-field-radio-height: auto;
              --search-field-checkbox-height: auto;
              --search-field-input-radio-margin: 10px 0;
              --search-field-input-checkbox-margin: 10px 0;
            }
            :host form {
              display: inline !important;
            }
          </style>
          <form action="https://nlink.migros-kulturprozent-classics.ch/dispatcher/service" method="post" id="online_form">
            <m-checkbox-wrapper max="3" min="1">
              <label class="normal" for="Policy">Ich bestätige, dass ich die <a href="https://www.migros.ch/de/datenschutz.html" target="_blank">Datenschutzerklärung</a> und die darin umschriebene Bearbeitung meiner Personendaten zur Kenntnis genommen haben.</label>
              <input id="Policy" name="Policy" type="checkbox" value="false" validation-message="at least one must be checked!" />
              <label class="normal" for="Policy1">Policy1</label>
              <input id="Policy1" name="Policy1" type="checkbox" value="false" />
              <label class="normal" for="Policy2">Policy2</label>
              <input id="Policy2" name="Policy2" type="checkbox" value="false" />
              <label class="normal" for="Policy3">Policy3</label>
              <input id="Policy3" name="Policy3" type="checkbox" value="false" />
              <label class="normal" for="Policy4">Policy4</label>
              <input id="Policy4" name="Policy4" type="checkbox" value="false" />
              <button type="submit">Registrieren</button>
            </checkbox-wrapper>
          </form>
      </m-form>
    </o-body>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
