:host {
  --img-height: 100%;
  --img-object-fit: cover;
  --img-width: 100%;
  --teaser-overlay-top-bg-color: var(--color-tertiary, var(--color));
  --teaser-overlay-top-bg-background-color: var(--m-white);
  --teaser-overlay-top-bg-padding-top: var(--bg-padding-bottom);
  --teaser-overlay-top-figcaption-padding: 3em;
}
:host(:hover) {
  --teaser-overlay-top-bg-color: var(--teaser-overlay-top-bg-color-hover, #D48A42);
}
:host figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
:host figure a-picture, :host figure m-picture-with-picture, :host figure figcaption {
  grid-column: 1;
  grid-row: 1;
}
:host figure figcaption {
  z-index: 1;
}

@media only screen and (max-width: _max-width_) {
  :host {
    --teaser-overlay-top-figcaption-padding: 2em;
  }
}