:host {
  --carousel-two-image-close-btn-background-color: var(--color-secondary);
  --carousel-two-image-close-btn-bottom: var(--content-spacing);
  --carousel-two-image-close-btn-right: var(--content-spacing);
  --carousel-two-image-nav-background-color-active: var(--carousel-two-image-nav-background-color-active-custom, var(--color-hover));
  --carousel-two-image-nav-background-color-hover: var(--carousel-two-image-nav-background-color-hover-custom, var(--color-hover));
  --carousel-two-image-nav-background-color: var(--carousel-two-image-nav-background-color-custom, var(--color-secondary));
  --carousel-two-image-nav-gap-mobile: var(--content-spacing-mobile);
  --carousel-two-image-nav-gap: var(--content-spacing);
  --carousel-two-image-nav-margin-mobile: var(--carousel-two-image-nav-margin-mobile-custom, var(--content-spacing-mobile));
  --carousel-two-image-nav-margin: var(--carousel-two-image-nav-margin-custom, var(--content-spacing));
  --carousel-two-image-section-gap: 1em;
  --carousel-two-image-section-nav-separate-margin-mobile: var(--content-spacing-mobile);
  --carousel-two-image-section-nav-separate-margin: var(--content-spacing);
  --carousel-two-image-p-margin: 0;
  --carousel-two-image-section-child-a-picture-margin: 0;
  --carousel-two-image-nav-margin-mobile: 0;
  --carousel-two-image-nav-margin: 0;
}
:host > section + div > *.arrow-nav {
  --carousel-two-image-color: var(--m-white);
}
:host > section + div > *.arrow-nav > *:hover {
  --carousel-two-image-color: var(--color-hover);
}