:host {
  --button-secondary-background-color: transparent;
  --button-secondary-color:var(--m-orange-600);
  --button-secondary-border-color:var(--m-orange-600);
  --button-secondary-background-color-hover:transparent;
  --button-secondary-color-hover:var(--m-orange-800);
  --button-secondary-border-color-hover:var(--m-orange-800);
  --button-secondary-border-width:2px;
  --button-secondary-disabled-background-color:transparent;
}