:host {
    --emotion-pictures-default-bg-transition: opacity 0.5s ease-out;
    --emotion-pictures-default-img-width:100%;
    --emotion-pictures-default-margin-mobile: calc(-1 * var(--content-spacing-mobile)) 0 0;
    --emotion-pictures-default-margin: calc(-1 * var(--content-spacing)) 0 0;
    --img-object-fit: cover;
    --img-width: 100%;
}