:host {
  --menu-color: var(--color-secondary);
  --navigation-yearbooks-color: var(--navigation-yearbooks-color-custom, var(--menu-color));
}
:host > nav > ul li.open > o-nav-wrapper > section {
  --navigation-yearbooks-background-color-hover: transparent;
}
:host > nav > ul > li > a-link {
  --navigation-yearbooks-color-active: var(--background-color);
}
:host > nav > ul > li.open > a-link {
  --navigation-yearbooks-background-color-active: var(--menu-color);
  --navigation-yearbooks-color: var(--menu-background-color);
  --navigation-yearbooks-color-active: var(--menu-background-color);
}
:host > nav > ul > li:not(.open) > a-link {
  --navigation-yearbooks-color-active: var(--color-hover);
  --navigation-yearbooks-color-hover: var(--color-color);
}
@media only screen and (max-width: _max-width_) {
  :host {
    --navigation-yearbooks-background-color-hover: transparent;
    --navigation-yearbooks-background-color-active: transparent;
  }
  :host > nav > ul > li:not(.open) > a-link {
    --navigation-yearbooks-color-hover: var(--color-hover);
  }
  :host > nav > ul > li > a-link, :host(.no-scroll) > nav > ul > li > a-link {
    --navigation-yearbooks-color: var(--menu-color);
    --navigation-yearbooks-color-active: var(--color-hover);
  }
  :host > nav > ul.language-switcher li, :host(:not(.no-scroll)) > nav > ul.language-switcher li, :host > nav > ul:not(.open).language-switcher li, :host(:not(.no-scroll)) > nav > ul:not(.open).language-switcher li {
    --navigation-yearbooks-color-mobile: var(--menu-color);
  }
}
