:host {
  --teaser-tile-a-link-bottom: -1.625em;
  --teaser-tile-a-link-opacity: 0;
  --teaser-tile-a-link-position: absolute;
  --teaser-tile-a-link-transform-hover: translateY(0);
  --teaser-tile-a-link-transform: translateY(2.4em);
  --teaser-tile-a-link-transition: transform .35s ease .1s, opacity 0.3s ease-out;
  --teaser-tile-background-color: var(--teaser-tile-background-color-custom, var(--background-color, var(--m-white)));
  --teaser-tile-figcaption-background-color: var(--teaser-tile-figcaption-background-color-custom, var(--teaser-tile-background-color));
  --teaser-tile-figcaption-bg-color-equal-padding: var(--teaser-tile-figcaption-bg-color-equal-padding-custom, 0.625em 0 0);
  --teaser-tile-figcaption-padding: var(--teaser-tile-figcaption-padding-custom, 0.625em 0.625em 0);
  --teaser-tile-figcaption-transform-hover: translateY(-2.4em);
  --teaser-tile-figcaption-transition: transform .45s cubic-bezier(.17,.67,.28,1) 50ms;
  --teaser-tile-h5-color: var(--color-secondary);
  --teaser-tile-h5-margin: 0.5em 0 0.5em;
  --teaser-tile-overflow: hidden;
  --teaser-tile-p-font-size: var(--teaser-tile-p-font-size-custom, 0.875em);
  --teaser-tile-p-line-height: var(--teaser-tile-p-line-height-custom, 1.14em);
  --teaser-tile-p-margin: 0 0 0.625em;
  --teaser-tile-position: relative;
  --underline-font-size: var(--teaser-tile-p-font-size);
}
@media only screen and (max-width: _max-width_) {
  :host {
    --teaser-tile-p-font-size: var(--p-font-size-mobile, var(--p-font-size, 1em));
    --teaser-tile-p-line-height: var(--p-line-height-mobile, var(--p-line-height, var(--line-height, normal)));
  }
}