:host {
  --tile-background-color: var(--tile-background-color-custom, var(--m-white));
  --tile-figcaption-background-color: var(--tile-figcaption-background-color-custom, var(--tile-background-color));
  --tile-figcaption-padding: 3rem;
  --tile-h3-margin: 0;
}