:host {
  --background-color: var(--background-color-custom, #FFFFFF);
  --figcaption-background-color: var(--figcaption-background-color-custom, var(--background-color));
  --figcaption-padding: 3rem;
  --h3-margin: 0;
}