:host > nav {
  --carousel-two-thumbnail-nav-transform-active: scale(1.1);
  --carousel-two-thumbnail-nav-transform-hover: scale(1.2);
  --img-max-height: 3em;
  --img-min-height: 50px;
  --img-width: auto;
}
:host([nav-separate]) {
  --carousel-two-thumbnail-nav-opacity: 1;
}