:host {
  --button-secondary-background-color-disabled: var(--button-secondary-background-color-disabled-custom, transparent);
  --button-secondary-background-color-hover: var(--button-secondary-background-color-hover-custom, transparent);
  --button-secondary-background-color: var(--button-secondary-background-color-custom, transparent);
  --button-secondary-border-color-disabled: var(--button-secondary-border-color-disabled-custom, var(--color-disabled, var(--m-orange-300)));
  --button-secondary-border-color-hover: var(--button-secondary-border-color-hover-custom, var(--color-hover, var(--m-orange-800)));
  --button-secondary-border-color: var(--button-secondary-border-color-custom, var(--color-secondary, var(--m-orange-600)));
  --button-secondary-border-width: var(--button-secondary-border-width-custom, 2px);
  --button-secondary-color-disabled: var(--button-secondary-color-disabled-custom, var(--color-disabled, var(--m-orange-300)));
  --button-secondary-color-hover: var(--button-secondary-color-hover-custom, var(--color-hover, var(--m-orange-800)));
  --button-secondary-color: var(--button-secondary-color-custom, var(--color-secondary, var(--m-orange-600)));
  --button-secondary-font-family: var(--button-secondary-font-family-custom, var(--font-family));
  --button-secondary-transition: var(--button-secondary-transition-custom, var(--transition));
}