:host {
  --wrapper-no-calc-column-width-gap: var(--wrapper-no-calc-column-width-gap-custom, var(--content-spacing));
  --wrapper-no-calc-column-width-justify-content: var(--wrapper-no-calc-column-width-justify-content-custom, space-evenly);
}
@media only screen and (max-width: _max-width_) {
  :host {
    --wrapper-no-calc-column-width-gap: var(--wrapper-no-calc-column-width-gap-custom, var(--content-spacing-mobile, var(--content-spacing)));
  }
}