:host {
    --pagination-default-height: 3.9em;
    --pagination-default-li-a-active: black;
    --pagination-default-li-a-align-items: center;
    --pagination-default-li-a-border-top: 6px solid black;
    --pagination-default-li-a-display: flex;
    --pagination-default-li-a-flex-direction: row;
    --pagination-default-li-a-height: 100%;
    --pagination-default-li-a-border-top-hover: 6px solid var(--color-secondary);
    --pagination-default-li-a-justify-content: center;
    --pagination-default-li-a-text-decoration: none;
    --pagination-default-li-active-background: var(--m-white);
    --pagination-default-li-after-background: var(--m-white);
    --pagination-default-li-after-content: '';
    --pagination-default-li-after-height: 43px;
    --pagination-default-li-after-left: 0;
    --pagination-default-li-after-position: absolute;
    --pagination-default-li-after-top: 9px;
    --pagination-default-li-after-width: 1px;
    --pagination-default-li-border: 0;
    --pagination-default-li-display: inline;
    --pagination-default-li-font-size-mobile: 1em;
    --pagination-default-li-font-size: 1.2em;
    --pagination-default-li-height-mobile: 3.6em;
    --pagination-default-li-height: 2.85em;
    --pagination-default-li-padding: 0;
    --pagination-default-li-position: relative;
    --pagination-default-li-width-mobile: 40px;
    --pagination-default-li-width: 3.15em;
    --pagination-default-ul-display: flex;
    --pagination-default-ul-display: flex;
    --pagination-default-ul-flex-direction: row;
    --pagination-default-ul-float: right;
    --pagination-default-ul-margin: 0 0.75em 0 0;
    --pagination-default-ul-text-align: center;
}