:host {
    --pagination-default-a-color-hover: var(--pagination-default-a-color-hover-custom, var(--a-color-hover, var(--background-color, white)));
    --pagination-default-a-color: var(--pagination-default-a-color-custom, var(--background-color, white));
    --pagination-default-a-text-decoration-hover: var(--pagination-default-a-text-decoration-hover-custom, var(--a-text-decoration-hover, none));
    --pagination-default-background-color: var(--pagination-default-background-color-custom, var(--color-secondary, black));
    --pagination-default-li-a-color-active: var(--color-active);
    --pagination-default-li-background-active: var(--m-white);
    --pagination-default-li-border-top-hover: 0.375em solid var(--color-tertiary, var(--color-secondary));
    --pagination-default-li-border-top: 0.375em solid var(--color-secondary);
    --pagination-default-li-font-size: 1.2em;
    --pagination-default-li-height-mobile: 3.6em;
    --pagination-default-li-height: 2.85em;
    --pagination-default-li-width-mobile: min(max(35px, 9vw), 3em);
    --pagination-default-li-width: 3.15em;
    --pagination-default-ul-margin-mobile: var(--pagination-default-ul-margin);
    --pagination-default-ul-margin: 0 0.375em 0.375em;
}