
						

		<h2>nach datum</h2>



	<o-grid namespace="grid-12er-">

		<m-load-template-tag-click-more answer-event-name="load-more-1">
			<template>
				<div col-sm="12" col-lg="4">
						<m-teaser namespace=teaser-story- color="red" href="/entdecken/inspirationsseite-test-1/" title="Inspirationsseite Test 1" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet</strong>
							<h3>test 1</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Sprachen Reise 960X480 (1)" picture-load="" defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<m-teaser namespace=teaser-story- color="pink" href="/entdecken/subthema/story-5/" title="Story 5" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing</strong>
							<h3>Story 5</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480 (1)" picture-load="" defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<m-teaser namespace=teaser-story- color="green" href="/entdecken/subthema/story-4/" title="Story 4" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur</strong>
							<h3>Story 4</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480" picture-load="" defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</m-teaser>

				</div>
			</template>
			<template>
				<div col-sm="12" col-lg="4">
						<m-teaser namespace=teaser-story- color="green" href="/entdecken/testbeitrag/" title="Testbeitrag" brand="ks">
					<figure>
						<figcaption>
								<strong>Pretitel</strong>
							<h3>Testbeitrag</h3>
							<span>Mehr lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Tanz Key Visual 2024 960X480 (1)" picture-load="" defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/testbeitrag/story-3/" title="Story 3" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
							<h3>Story 3</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3/" title="Story 3" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
							<h3>Story 3</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</m-teaser>

				</div>
			</template>
			<template>
				<div col-sm="12" col-lg="4">
						<m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3-1/" title="Story 3 (1)" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
							<h3>Story 3</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3-2/" title="Story 3 (2)" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
							<h3>Story 3</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3-3/" title="Story 3 (3)" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
							<h3>Story 3</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</m-teaser>

				</div>
			</template>
		</m-load-template-tag-click-more>

		
	</o-grid>

	<!-- TODO: load more with js => /umbraco/surface/StoryTeaser/GetPagedStories?currentPageId=10017&size=9&page=1&lang=de -->
	<a-button namespace="button-primary-" request-event-name="load-more-1">
		
		<a-icon-mdx icon-name="ArrowDownRight" size="1em"></a-icon-mdx>
	</a-button>
    <script type="text/javascript" src="../../../../../docs/es/loader.js"></script>