<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="user-scalable=no, viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/initial.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>Classics</title>
</head>
<body>
  <style>
    /* setting here for testing purposes, on PROD would be controlled by Umbraco*/
    html {
      --background-color: #ffed00;
      --color: #009fe3;
    }
  </style>
  <p-general>
    <o-header namespace="header-" role="header">
      <!-- TODO Navigation -->
    </o-header>
    <o-body>
      <main>
        <a-picture defaultSource="../../../img/yellow/MIGROS_KULTURPROZENT_CLASSICS_TICKET_YELLOW.svg" alt="Ticket icon" namespace="icon-"></a-picture>
        <h2>Tickets für 
        <br>Konzerte in Bern</h2>
        <o-playlist namespace="concerts-playlist-">
          <m-playlist-item  namespace="playlist-item-">
            
            <p>5*1*21</p>
            <h4>Les Siecles</h4>
            <p><a href="#">Einzelkarten kaufen</a></p>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <p>17*3*21</p>
            <h4>Deutsches Symphonie-Orchester Berlin</h4>
            <p></p><a href="#">Einzelkarten kaufen</a></p>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <p>5*1*21</p>
            <h4>Les Siecles</h4>
            <p><a href="#">Einzelkarten kaufen</a></p>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <p>17*3*21</p>
            <h4>Deutsches Symphonie-Orchester Berlin</h4>
            <p></p><a href="#">Einzelkarten kaufen</a></p>
          </m-playlist-item>
        </o-playlist>
        <div class="spacer"></div>

        <!-- <m-flyer></m-flyer> -->

        <div class="tickets">
          <h5>Preise</h5>
          <p>KAT I: CHF 130, KAT I: CHF 130, KAT I: CHF 130, KAT I: CHF 130, KAT I: CHF 130 (Stehplätze)</p>
  
          <h5>Vorverkauf</h5>
          <p>Der platzgenaue Vorverkauf beginnt am 14. Juli 2021. Die Karten sind erhältlich unter <a href="#">casinobern.ch</a> oder an den Verkaufsstellen von Ticketcorner: <a href="#">ticketcorner.ch</a></p>
          <br>
          <h5>Last-Minute für Student*innen</h5>
          <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
          <br>
          <h5>Kontakt</h5>
          <p>Casion Bern</p>
          <p>Casinoplatz 1, 3011 Bern</p>
          <p>Telefon +41 41 423 23</p>
          <p>E-Mail <a href="#">migrosclassics@casinobern.ch</a></p>
          <p><a href="#">casinobern.ch</a></p>
          <br>
        </div>
      </main>
    </o-body>
    <o-footer theme="classics" namespace="footer-">
      <div>
        <a-logo class="hide-mobile" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
      </a-logo>
      </div>      
      <div class="footer-ul-wrapper">
        <ul>
          <li><p><a href="#">CLASSICS-Newsletter bestellen</a></p></li>
          <li><p><a href="#">Programm Archiv</a></p></li>
          <li>
            <p>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">DE</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">FR</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">EN</a>
              </a-link>
            </p>
          </li>
          <br>
          <li>
            <p>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Impressum</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Datenschutz</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Rechtliche Hinweise</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Kontakt</a>
              </a-link>
            </p>
          </li>
        </ul>
      </div>
      <div class="logo-container">
        <a-logo class="hide-desktop" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
        </a-logo>
        <a-logo src=../../../img/migros_kulturprozent_classics_cyan.svg alt="Kulturprozent Classics Logo" href="#" namespace="footer-logo-"></a-logo>
      </div>
</o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
