<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="user-scalable=no, viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/initial.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>Classics</title>
</head>
<body>
  <p-general>
    <o-header namespace="header-" role="header">
      <a-title namespace="header-title-" wrap="only-last">Migros-Kulturprozent-Classics presents</a-title>
    </o-header>
    <o-body>
      <m-form type="search" namespace="search-">
          <style>
            :host {
              --search-field-input-width: calc(var(--content-width-not-web-component) - min(250px, 35vw));
              --search-field-input-width-mobile: calc(var(--content-width-not-web-component-mobile) - min(250px, 35vw));
            }
          </style>
          <form action="/" enctype="multipart/form-data" method="post">
            <a-input type="text" namespace="search-field-">
              <label for="searchTerm">Suche</label>
              <input id="searchTerm" name="searchTerm" type="text" value="" placeholder="Suchbegriff hier eingeben...">
            </a-input>
            <a-button namespace="search-button-" src="../../../img/yellow/LUPE_YELLOW.svg">
              <button type="submit" aria-label="Search"></button>
            </a-button>
          </form>
          <div class="searchResultsContainer">
            <h3>Suchresultate</h3>
            <p>Ihre Suche nach "Bern" lieferte 5 Treffer</p>
              <div>
                  <h3>Testkonzert</h3>
                  <p>Dies ist ein Testkonzert</p>
                  <a href="/konzerte/spielplan/testkonzert/">Mehr erfahren</a>
              </div>
              <div>
                  <h3>Testkonzert 3</h3>
                  <p>Anrisstext für Testkonzert 3</p>
                  <a href="/konzerte/spielplan/testkonzert-3/">Mehr erfahren</a>
              </div>
              <div>
                  <h3>Programm</h3>
                  <p>Unser Programm</p>
                      <p>Der Suchbegriff 'Bern' wurde in verlinkten PDF Dokumenten gefunden:</p>
                          <ul>
                            <li><a href="/media/u2odb45e/1211020014-sp-2020-mclassics-bern-v9-1.pdf" target="">1211020014 SP 2020 Mclassics Bern V9</a></li>
                            <li><a href="/media/caxbfkpo/1211019004-sp-2019-mclassics-bern-v6.pdf" target="">1211019004 SP 2019 Mclassics Bern V6</a></li>
                            <li><a href="/media/zzieytco/1211019004-sp-2019-mclassics-luzern-v6.pdf" target="">1211019004 SP 2019 Mclassics Luzern V6</a></li>
                            <li><a href="/media/l42mn2ca/1211020014-sp-2020-mclassics-zurich-v9.pdf" target="">1211020014 SP 2020 Mclassics Zurich V9</a></li>
                            <li><a href="/media/ucrlz5mk/1211020014-sp-2020-mclassics-luzern-v8.pdf" target="">1211020014 SP 2020 Mclassics Luzern V8</a></li>
                            <li><a href="/media/ailh04ad/1211019004-sp-2019-mclassics-zurich-v5.pdf" target="">1211019004 SP 2019 Mclassics Zurich V5</a></li>
                          </ul>
                      <p></p>
                  <a href="/news/programm/">Mehr erfahren</a>
              </div>
              <div>
                  <h3>Testkonzert 2</h3>
                  <p>gdfsgsd</p>
                  <a href="/konzerte/spielplan/testkonzert-2/">Mehr erfahren</a>
              </div>
            </div>
      </m-form>
    </o-body>
    <o-footer theme="classics" namespace="footer-">
      <div>
        <a-logo class="hide-mobile" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
      </a-logo>
      </div>      
      <div class="footer-ul-wrapper">
        <ul>
          <li><p><a href="#">CLASSICS-Newsletter bestellen</a></p></li>
          <li><p><a href="#">Programm Archiv</a></p></li>
          <li>
            <p>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">DE</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">FR</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">EN</a>
              </a-link>
            </p>
          </li>
          <br>
          <li>
            <p>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Impressum</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Datenschutz</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Rechtliche Hinweise</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Kontakt</a>
              </a-link>
            </p>
          </li>
        </ul>
      </div>
      <div class="logo-container">
        <a-logo class="hide-desktop" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
        </a-logo>
        <a-logo src=../../../img/migros_kulturprozent_classics_cyan.svg alt="Kulturprozent Classics Logo" href="#" namespace="footer-logo-"></a-logo>
      </div>
</o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
