<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="user-scalable=no, viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/initial.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>Classics</title>
</head>
<body>
  <style>
    /* setting here for testing purposes, on PROD would be controlled by Umbraco*/
    html {
      --background-color: #ffed00;
      --color: #009fe3;
    }
  </style>
  <p-general>
    <o-header namespace="header-" role="header">
      <!-- TODO Navigation -->
    </o-header>
    <o-body>
      <main>
        <h2>Bayrisches</h2>
        <h2>Staatsorchester</h2>
        <third-party-macro-carousel pagination loop interval="5000" height="350px" namespace="carousel-">
          <a-picture namespace="carousel-" defaultSource="../../../img/Vladimir_Jurowski.jpg" alt="Vladimir Jurowski"></a-picture>
          <a-picture namespace="carousel-" defaultSource="../../../img/Vladimir_Jurowski2.jpg" alt="Vladimir Jurowski"></a-picture>
          <a-picture namespace="carousel-" defaultSource="../../../img/Vladimir_Jurowski.jpg" alt="Vladimir Jurowski"></a-picture>
          <a-picture namespace="carousel-" defaultSource="../../../img/Vladimir_Jurowski2.jpg" alt="Vladimir Jurowski"></a-picture>
        </third-party-macro-carousel>
        <div class="orchestra">
          <h5>MI, 07*10*20
          <br>KKL Luzern, 19.30 Uhr</h5>
          <a href="#">TICKET KAUFEN</a>
          <a-picture defaultSource="https://img.icons8.com/ios/452/ticket.png" alt="Ticket icon" namespace="icon-"></a-picture>
          
          <h5>Orchester</h5>
          <a href="#">Bayrisches Staatsorchester</a>
          
          <h5>Dirigent*in</h5>
          <a href="#">Vladimir Jurowski</a>

          <h5>Solist*in</h5>
          <a href="#">Frank Peter Zimmermann (Violine)</a>

          <h5>Programm</h5>
          <a href="#">Ludwig van Beethoven - Sinfonie Nr. 2 D-Dur op. 36</a>
          <a href="#">Ludwig van Beethoven - Konzert für Violine und Orchester D-Dur op. 61</a>

          <p>Audio-Konzerteinführung hören</p>
          <a-picture defaultSource="https://img.icons8.com/metro/344/low-volume.png" alt="Ticket icon" namespace="icon-"></a-picture>
        </div>
      </main>
    </o-body>
    <o-footer theme="classics" namespace="footer-">
      <div>
        <a-logo class="hide-mobile" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
      </a-logo>
      </div>      
      <div class="footer-ul-wrapper">
        <ul>
          <li><p><a href="#">CLASSICS-Newsletter bestellen</a></p></li>
          <li><p><a href="#">Programm Archiv</a></p></li>
          <li>
            <p>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">DE</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">FR</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">EN</a>
              </a-link>
            </p>
          </li>
          <br>
          <li>
            <p>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Impressum</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Datenschutz</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Rechtliche Hinweise</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Kontakt</a>
              </a-link>
            </p>
          </li>
        </ul>
      </div>
      <div class="logo-container">
        <a-logo class="hide-desktop" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
        </a-logo>
        <a-logo src=../../../img/migros_kulturprozent_classics_cyan.svg alt="Kulturprozent Classics Logo" href="#" namespace="footer-logo-"></a-logo>
      </div>
</o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
