<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="user-scalable=no, viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/initial.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>Classics</title>
</head>
<body>
  <p-general>
    <o-header namespace="header-" role="header">
      <a-title namespace="header-title-">Highlights</a-title>
    </o-header>
    <o-body>
      <main>
        <third-party-macro-carousel pagination loop interval="5000" namespace="carousel-">
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
          <a-picture defaultSource="https://picsum.photos/1200/316" alt="randomized image" sources='[{
            "src": "https://picsum.photos/770/544",
            "type": "image/jpg",
            "size": "small" 
          },{
            "src": "https://picsum.photos/990/412",
            "type": "image/jpg",
            "size": "medium"
          },{
            "src": "https://picsum.photos/1200/316",
            "type": "image/jpg",
            "size": "large"
          },{
            "src": "https://picsum.photos/1900/446",
            "type": "image/jpg",
            "size": "extra-large"
          }]'></a-picture>
        </third-party-macro-carousel>

        <h3>Daniel Müller-Schott</h3>
        <p>Der Münchner Cellist Daniel Müller-Schott wurde als Gewinner des Ersten Preises beim Tschaikowsky-Wettbewerb in Moskau 1992 bekannt und durfte als Preisträger der <br>Anne-Sophie-Mutter-Stiftung unter anderem ein Jahr lang mit Mtislav Rostropowitsch studieren.</p>
        <!-- @ask using a-link throws error in shadow.js:202 -->
        <!-- should i add the same styles from body.js to link.js? link.js uses different variables/values -->
        <a href="#">Mehr erfahren</a>

        <div class="spacer"></div>

        <h2>Aktuell</h2>
        <a-picture namespace="picture-" defaultSource="../../../img/Classics_Joana-Mallwitz.png" alt="Joana Mallwitz" loading="lazy"></a-picture>
        <h3>Joanna Mallwitz im Gespräch</h3>
        <p>Sie ist die erste Dirigentin, die bei den Salzburger Festspielen eine Oper dirigiert: Joana Mallwitz, 34 Jahre alt, Leidenschaftliche Mozart-Liebhaberin.</p>
        <a href="#">Zum Gespräch</a>

        <div class="spacer"></div>

        <a-video namespace="video-">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/fMUR4tFOG_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </a-video>
        <h3>Happy Birthday, Mr. Britten</h3>
        <p>(Aktuell B) Wunderkind, Pazifist, Exilant: Der erfolgreichste englische Komponist des 20. Jahrhunderts bietet gleich eine Vielzahl von Facetten.</p>
        <a href="#">Video ARTE</a>

        <a-video namespace="video-">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/fMUR4tFOG_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </a-video>
        <h3>Teodor Currentzis Backstage</h3>
        <p>(Aktuell C) «Es ist mein Job zu träumen», sagt Teodor Currentzis. Überraschend offene Einsichten in seine Innenwelt gewährt uns der Chefdirigent des SWR Symphonieorchesters im Backstage Talk.</p>
        <a href="#">Backstage Talk 3:36 min</a>

        <div class="spacer"></div>

        <h2>Programm</h2>
        <p>Die Saison- und Abendprogramme von Migros-Kulturprozent-Classics der letzten Jahre stehen hier für den Download bereit</p>
        <o-playlist namespace="playlist-" border-top-first-child="true">
          <m-playlist-item  namespace="playlist-item-">
            <p>2020*21</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li><a href="#">Bern</a></li>
              <li><a href="#">Genf</a></li>
              <li><a href="#">Luzern</a></li>
              <li><a href="#">Zürich</a></li>
            </ul>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <p>2019*20</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li><a href="#">Bern</a></li>
              <li><a href="#">Genf</a></li>
              <li><a href="#">Luzern</a></li>
              <li><a href="#">Zürich</a></li>
            </ul>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <p>2018*19</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li><a href="#">Bern</a></li>
              <li><a href="#">Genf</a></li>
              <li><a href="#">Luzern</a></li>
              <li><a href="#">Zürich</a></li>
            </ul>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <p>2017*18</p>
            <h4>Saisonprogramm</h4>
            <ul>
              <li><a href="#">Bern</a></li>
              <li><a href="#">Genf</a></li>
              <li><a href="#">Luzern</a></li>
              <li><a href="#">Zürich</a></li>
            </ul>
          </m-playlist-item>
        </o-playlist>
      </main>
    </o-body>
    <o-footer theme="classics" namespace="footer-">
      <div>
        <a-logo class="hide-mobile" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
      </a-logo>
      </div>      
      <div class="footer-ul-wrapper">
        <ul>
          <li><p><a href="#">CLASSICS-Newsletter bestellen</a></p></li>
          <li><p><a href="#">Programm Archiv</a></p></li>
          <li>
            <p>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">DE</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">FR</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">EN</a>
              </a-link>
            </p>
          </li>
          <br>
          <li>
            <p>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Impressum</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Datenschutz</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Rechtliche Hinweise</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Kontakt</a>
              </a-link>
            </p>
          </li>
        </ul>
      </div>
      <div class="logo-container">
        <a-logo class="hide-desktop" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
        </a-logo>
        <a-logo src=../../../img/migros_kulturprozent_classics_cyan.svg alt="Kulturprozent Classics Logo" href="#" namespace="footer-logo-"></a-logo>
      </div>
</o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
