<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="user-scalable=no, viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClubConcerts.css rel=stylesheet>
  <link href=../../../css/initial.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>club concerts & umbraco</title>
</head>
<body>
  <p-general>
    <o-header namespace=header->
      <a-logo src=../../../img/ClubConcertLogo.svg alt="Club Konzerte Logo" href=../../../../index.html namespace=header-logo-></a-logo>
    </o-header>
    <o-body>
      <h1>Impressum
      </h1>
      <div>
      <p class="blue">Migros-Genossenschafts-Bund
      <br>Direktion Kultur und Soziales
      <br>Löwenbräukunst-Areal
      <br>Limmatstrasse 270
      <br>Postfach 1766
      <br>CH-8031 Zürich
      <br>Direktwahl +41 58 570 30 34
      <br>Zentrale +41 58 570 22 20
      <br>E-Mail: 
      <a href="mailto:migros-kulturprozent-classics@mgb.ch">migros-kulturprozent-classics@mgb.ch
      </a>
      </p>
      <p>
      </p>
      <p class="blue">
      <strong>Gesamtverantwortung
      <br>
      </strong>Hedy Graber, Leiterin Direktion Kultur und Soziales, Migros-Genossenschafts-Bund
      </p>
      <p>
      </p>
      <p class="blue">
      <strong>Migros-Kulturprozent-Classics
      <br>
      </strong>Mischa Damev, Intendant, Leiter Musik
      <br>Sabina Escana, Projektleiterin Musik
      <br>Mirko Vaiz, Projektleiter Musik
      </p>
      <p>
      </p>
      <p>
      <strong>Fotografien: 
      </strong>
      <br>Julie Campiche Quartet, © David Abecassis
      <br>Christoph Croisé
      <br>Julie Campiche Quartet, © Gerald Langer    
      <br>Manu Hagmann, © Jean-Paul Levet
      </p>
      <p>
      </p>
      </div>
    </o-body>
    <o-footer namespace=footer- theme=simple>
      <div class=logo-container>
        <a-logo src=../../../img/kulturprozent_weiss_d.svg alt="Kulturprozent Logo" href=../../../index.html namespace=footer-logo-></a-logo>
        <a-logo src=../../../img/ClubConcertLogo.svg alt="Club Konzerte Logo" href=../../../index.html namespace=footer-logo-></a-logo>
      </div>
      <div class=footer-links>
        <ul>
          <li>
            <span>(c) copyright</span>
          </li>
          <li>
            <a href="#">Migros-Kulturprozent-Classics</a>
          </li>
          <li>
            <a href="#">Impressum</a>
          </li>
          <li>
            <a href="#">Disclaimer</a>
          <li>
            <a href="#">Kontakt</a>
          </li>
        </ul>
        <ul class=language-switcher>
          <li><a href=#>DE</a></li>
          <li><a href=#>FR</a></li>
          <li><a href=#>EN</a></li>
        </ul>
      </div>
    </o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
