<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="user-scalable=no, viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name=viewport content="width=device-width, initial-scale=1.0">
  <link href=../../../../favicon.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesM4music.css rel=stylesheet>
  <link href=../../../css/initial.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <script rel=preload type=module>
    // the below javascript is purely for demonstrating the selection of different variable style sheets and can be ignored for the backend, since you select a variables.css with your templating engine
    if (location.hash) document.querySelector('[rel=stylesheet]').href = `../../../css/${location.hash.replace('#', '')}`
  </script>
  <title>m4music & umbraco</title>
</head>
<body>
  <p-general>
    <o-header menu-icon="true" namespace=header->
      <a-logo src=../../../img/logo.png href=../../../index.html namespace=header-></a-logo>
      <m-navigation namespace=navigation->
        <ul>
          <li>
            <a href="#">Demotape Clinic</a>
            <ul>
              <li>
                <a href="/de/demotape-clinic/der-demotape-clinic-news-alert">News Alert</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/anmelden">Anmelden</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/mbassadors-2021">Mbassadors 2021</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/reglement">Reglement</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/ablauf">Ablauf</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/preise">Preise</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/hall-of-fame">Hall of Fame</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/best-of-dtc">Best Of Demotape Clinic</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/winner-2020">Winner 2020</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Best Swiss Video Clip</a>
            <ul>
              <li>
                <a href="/de/best-swiss-video-clip/ablauf-und-preise">Ablauf und Preise 2021</a>
              </li>
              <li>
                <a href="/de/best-swiss-video-clip/winner-2020">Winner 2020</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Multimedia</a>
            <ul>
              <li>
                <a href="/de/multimedia/fotos">Fotos</a>
              </li>
              <li>
                <a href="/de/multimedia/videos"> Videos</a>
              </li>
              <li>
                <a href="/de/multimedia/audio">Audio</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/de/tickets">Tickets</a>
          </li>
        </ul>
      </m-navigation>
    </o-header>
    <o-body>
      <h1>This is a general body content page</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </o-body>
    <o-footer namespace=footer->
      <ul>
        <li>
          <a href="/de/demotape-clinic">Demotape Clinic</a>
          <ul>
            <li>
              <a href="/de/demotape-clinic/der-demotape-clinic-news-alert">News Alert</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/anmelden">Anmelden</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/mbassadors-2021">Mbassadors 2021</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/reglement">Reglement</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/ablauf">Ablauf</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/preise">Preise</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/hall-of-fame">Hall of Fame</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/best-of-dtc">Best Of Demotape Clinic</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/winner-2020">Winner 2020</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/de/best-swiss-video-clip">Best Swiss Video Clip</a>
          <ul>
            <li>
              <a href="/de/best-swiss-video-clip/ablauf-und-preise">Ablauf und Preise 2021</a>
            </li>
            <li>
              <a href="/de/best-swiss-video-clip/winner-2020">Winner 2020</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Multimedia</a>
          <ul>
            <li>
              <a href="/de/multimedia/fotos">Fotos</a>
            </li>
            <li>
              <a href="/de/multimedia/videos"> Videos</a>
            </li>
            <li>
              <a href="/de/multimedia/audio">Audio</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/de/tickets">Tickets</a>
        </li>
      </ul>
      <ul style="justify-content: center; align-items: center;">
        <li><a href=migros.ch><img src=../../../img/footerLogo.png></a></li>
        <li><a href=#de>Deutsch</a></li>
        <li><a href=#fr>Français</a></li>
        <li><a href=#en>English</a></li>
        <li></li>
      </ul>
    </o-footer>
  </p-general>  
</body>
</html>