<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="user-scalable=no, viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name=viewport content="width=device-width, initial-scale=1.0">
  <link href=../../../../favicon.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesM4music.css rel=stylesheet>
  <link href=../../../css/initial.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>m4music & umbraco</title>
</head>
<body>
  <p-general>
    <o-header menu-icon="true" namespace=header->
      <a-logo src=../../../img/logo.png href=../../../index.html namespace=header-></a-logo>
      <m-navigation focus-lost-close="true" hover="false" namespace=navigation->
        <ul>
          <li>
            <a href="#">Demotape Clinic</a>
            <ul>
              <li>
                <a target="_blank" href="/de/demotape-clinic/der-demotape-clinic-news-alert">News Alert</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/anmelden">Anmelden</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/mbassadors-2021">Mbassadors 2021</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/reglement">Reglement</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/ablauf">Ablauf</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/preise">Preise</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/hall-of-fame">Hall of Fame</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/best-of-dtc">Best Of Demotape Clinic</a>
              </li>
              <li>
                <a href="/de/demotape-clinic/winner-2020">Winner 2020</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Best Swiss Video Clip</a>
            <ul>
              <li>
                <a href="/de/best-swiss-video-clip/ablauf-und-preise">Ablauf und Preise 2021</a>
              </li>
              <li>
                <a href="/de/best-swiss-video-clip/winner-2020">Winner 2020</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Multimedia</a>
            <ul>
              <li>
                <a href="/de/multimedia/fotos">Fotos</a>
              </li>
              <li>
                <a href="/de/multimedia/videos"> Videos</a>
              </li>
              <li>
                <a href="/de/multimedia/audio">Audio</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/de/tickets">Tickets</a>
          </li>
        </ul>
      </m-navigation>
    </o-header>
    <o-body>
      <o-stage src=../../../img/stage.jpg namespace=stage->
        <h2 style="font-size: 50px;">Hello</h2><p>no way</p>
      </o-stage>
      <o-highlight-list>
        <h1>News</h1>
        <m-flyer direction=up>
          <style>
            :host {
              --transform: rotate(180deg);
            }
          </style>
          <h1 style="color:pink;">Hello Down!</h1><img src=https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd1w7fb2mkkr3kw.cloudfront.net%2Fassets%2Fimages%2Fbook%2Flrg%2F9781%2F5892%2F9781589256361.jpg&f=1&nofb=1>
        </m-flyer>
        <m-highlight>
          <h5>Demotape Clinic: Sende dein Demo ein! </h5>
          <h2>m4music sucht die besten Newcomer-Songs 2021</h2>
          <p>Jetzt anmelden und Awards im Gesamtwert von 17’000 Franken gewinnen</p>
          <a-picture open-modal loading=eager defaultSource=../../../img/GiuliaDabala.png alt="GiuliaDabala"></a-picture>
        </m-highlight>
        <m-flyer
          direction=left
          position=fixed
          intersectionObserverInit="{'rootMargin': '0px 0px 0px 0px', 'threshold': 0}"
        >
          <h1 style="color:blue">Hello Fixed!</h1><img src=https://i.pinimg.com/originals/57/62/ed/5762edaaf446bdcf3fdcf42b79c7ea0f.png>
        </m-flyer>
        <m-highlight>
          <a-picture open-modal loading=eager defaultSource=https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fexternal-preview.redd.it%2FjIVRt-WRF9LMCPwbublHv_O1Z2T_2vZvjROQojjqcao.jpg%3Fauto%3Dwebp%26s%3D9e391ba27e35c2435003a142e2a663f571ff772f&f=1&nofb=1 alt="flyer"></a-picture>
          <h5>Demotape Clinic: Sende dein Demo ein! </h5>
          <h2>m4music sucht die besten Newcomer-Songs 2021</h2>
          <p>Jetzt anmelden und Awards im Gesamtwert von 17’000 Franken gewinnen</p>
        </m-highlight>
        <m-highlight href=#>
          <h5>Demotape Clinic: Sende dein Demo ein! </h5>
          <h2>m4music sucht die besten Newcomer-Songs 2021</h2>
          <p>Jetzt anmelden und Awards im Gesamtwert von 17’000 Franken gewinnen</p>
          <img src=../../../img/GiuliaDabala.png />
        </m-highlight>
        <m-flyer
          direction=left
          timer=2000
        >
          <div style="display: flex;"><h1 style="color:red;">Hello Timer!</h1><span id=close style="font-size: 45px;color:red;">&cross;</span></div><img src=https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.i3zoFXIqLpw2h5u5PMB-rwHaHa%26pid%3DApi&f=1>
        </m-flyer>
        <m-highlight href=#>
          <h5>Demotape Clinic: Sende dein Demo ein! </h5>
          <h2>m4music sucht die besten Newcomer-Songs 2021</h2>
          <p>Jetzt anmelden und Awards im Gesamtwert von 17’000 Franken gewinnen</p>
          <img src=../../../img/GiuliaDabala.png />
        </m-highlight>
        <m-flyer direction=right position=false picture-load>
          <style>
            :host {
              --translate-x: 140px;
              --transform: rotate(-15deg);
            }
          </style>
          <h1 style="color:orange;">Hello Joe!</h1>
          <a-picture picture-load loading=eager defaultSource=https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-9OT1jnveHOk%2FUDElczsRPbI%2FAAAAAAAAJEA%2FQsEg1QMWzs0%2Fs1600%2FShirtless-Biden-Jump-R_jpg_600x1000_q85.jpg&f=1&nofb=1 alt="flyer"></a-picture>
        </m-flyer>
        <m-highlight href=#>
          <h5>Demotape Clinic: Sende dein Demo ein! </h5>
          <h2>m4music sucht die besten Newcomer-Songs 2021</h2>
          <p>Jetzt anmelden und Awards im Gesamtwert von 17’000 Franken gewinnen</p>
          <img src=../../../img/GiuliaDabala.png />
        </m-highlight>
        <m-highlight href=#>
          <img src=../../../img/GiuliaDabala.png />
          <h5>Demotape Clinic: Sende dein Demo ein! </h5>
          <h2>m4music sucht die besten Newcomer-Songs 2021</h2>
          <p>Jetzt anmelden und Awards im Gesamtwert von 17’000 Franken gewinnen</p>
        </m-highlight>
        <m-flyer direction=down>
          <h1 style="color:lightcoral;">Hello Up!</h1><img src=https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-EVyEb9q4KCA%2FUiCQ8yfHSLI%2FAAAAAAAAHDs%2FR2MODIADc7s%2Fs1600%2FBalloon-Up-Movie3.jpg&f=1&nofb=1>
        </m-flyer>
      </o-highlight-list>
    </o-body>
    <o-footer namespace=footer->
      <ul>
        <li>
          <a href="/de/demotape-clinic">Demotape Clinic</a>
          <ul>
            <li>
              <a href="/de/demotape-clinic/der-demotape-clinic-news-alert">News Alert</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/anmelden">Anmelden</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/mbassadors-2021">Mbassadors 2021</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/reglement">Reglement</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/ablauf">Ablauf</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/preise">Preise</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/hall-of-fame">Hall of Fame</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/best-of-dtc">Best Of Demotape Clinic</a>
            </li>
            <li>
              <a href="/de/demotape-clinic/winner-2020">Winner 2020</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/de/best-swiss-video-clip">Best Swiss Video Clip</a>
          <ul>
            <li>
              <a href="/de/best-swiss-video-clip/ablauf-und-preise">Ablauf und Preise 2021</a>
            </li>
            <li>
              <a href="/de/best-swiss-video-clip/winner-2020">Winner 2020</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Multimedia</a>
          <ul>
            <li>
              <a href="/de/multimedia/fotos">Fotos</a>
            </li>
            <li>
              <a href="/de/multimedia/videos"> Videos</a>
            </li>
            <li>
              <a href="/de/multimedia/audio">Audio</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/de/tickets">Tickets</a>
        </li>
      </ul>
      <ul style="justify-content: center; align-items: center;">
        <li><a href=migros.ch><img src=../../../img/footerLogo.png></a></li>
        <li><a href=#de>Deutsch</a></li>
        <li><a href=#fr>Français</a></li>
        <li><a href=#en>English</a></li>
        <li></li>
      </ul>
    </o-footer>
  </p-general>
  <msrc-cookie-banner
    mobile-breakpoint="1000px"
    props="{
      'env': 'test',
      'language': 'de',
      'theme': 'mgb',
      'webAPIKey': 'baaahhhh'
    }"
  >
    <style>
      #msrc-widget {
        --font-size: 0.8rem;
      }
    </style>
  </msrc-cookie-banner>
  <c-tag-manager id=UA-38442413-12></c-tag-manager>
  <o-modal transition=500><span id=close style="font-size: 45px;color:red;">&cross;</span><span style="color:white;">If event.detail has no child property holding HTMLElement as value, you will see this</span></o-modal>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }
  </script>
</body>
</html>