:host .content > .btn-open {
    border-radius: 50%;
    box-shadow: 1px 1px 15px -2px rgba(0, 0, 0, .1);
    height: var(--hotspot-default-btn-open-size, 3rem);
    left: 50%;
    outline: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform .2s ease-out,
        box-shadow .2s ease-out,
        background-color .2s ease-out;
    width: var(--hotspot-default-btn-open-size, 3rem);
    will-change: transform;
    z-index: 0;
}

:host .content > .btn-close {
    display: none;
}

:host .btn-open:before,
:host .btn-open:after {
    border-radius: 50%;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
}

:host .btn-open:before {
    background-color: rgba(255, 255, 255, .5);
    content: '';
    height: var(--hotspot-default-btn-open-size, 3rem);
    transform: translate(-50%, -50%);
    transition: background-color .2s ease-out;
    width: var(--hotspot-default-btn-open-size, 3rem);
}

:host .btn-open:after {
    background-color: var(--hotspot-default-button-background-color, var(--color-secondary, #ff6600));
    background-image: url(_import-meta-url_./icons/close-white.svg);
    height: var(--btn-open-size-inner, 2.2rem);
    transform: translate(-50%, -50%) rotate(-45deg);
    width: var(--btn-open-size-inner, 2.2rem);
}

:host .btn-open:hover:after {
    background-color: var(--hotspot-default-button-background-color-hover, var(--color-hover, #AACF80));
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

:host(.active) .btn-open:after {
    background-color: var(--hotspot-default-button-background-color-hover, var(--color-hover, #AACF80));
    transform: translate(-50%, -50%) rotate(0);
}

:host(:nth-child(1n)) .btn-open:before {
    animation: button-pulse 1s ease;
}

:host(:nth-child(2n)) .btn-open:before {
    animation: button-pulse 1s 250ms ease;
}

:host(:nth-child(3n)) .btn-open:before {
    animation: button-pulse 1s .5s ease;
}

/* button components compatibility */
:host([glow]) :not(button):is(.btn-open, .btn-close):not(.no-pulse):before {
    animation: button-pulse 1s ease;
    background-color: var(--hotspot-default-btn-pulse-background-color, var(--hotspot-default-btn-open-background-color, rgba(255, 255, 255, .5)));
    display: block;
    content: '';
    height: var(--hotspot-default-btn-open-size, max(120%, 3rem));
    transition: background-color .2s ease-out;
    width: var(--hotspot-default-btn-open-size, max(120%, 3rem));
    border-radius: 50%;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: -1;
}

:host([square]) :not(button):is(.btn-open, .btn-close):not(.no-pulse):before {
    border-radius: 0;
}

@keyframes button-pulse {
    0% {
        transform: translate(-50%, -50%) scale(1)
    }
    30% {
        transform: translate(-50%, -50%) scale(1.5)
    }
    100% {
        transform: translate(-50%, -50%) scale(1)
    }
}

@media screen and (max-width: _max-width_) {
    :host(:not(.pulse-mobile)) .btn-open:before {
        background-color: transparent;
    }
}