:host .btn-open {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-shadow: 1px 1px 15px -2px rgba(0, 0, 0, .1);
    outline: 0;
    transform: translate(-50%, -50%);
    transition: transform .2s ease-out,
        box-shadow .2s ease-out,
        background-color .2s ease-out;
    will-change: transform;
    z-index: 0;
}

:host .btn-close {
    display: none;
}

:host .btn-open:before,
:host .btn-open:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    cursor: pointer;
}

:host .btn-open:before {
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, .5);
    content: '';
    transform: translate(-50%, -50%);
    transition: background-color .2s ease-out;
}

:host .btn-open:after {
    background-image: url(_import-meta-url_./icons/close-white.svg);
    background-color: var(--hotspot-button-background-color, var(--color-secondary, #ff6600));
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 2.2rem;
    height: 2.2rem;
}

:host .btn-open:hover:after {
    background-color: var(--hotspot-button-background-color-hover, var(--color-hover, #AACF80));
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

:host(.active) .btn-open:after {
    background-color: var(--hotspot-button-background-color-hover, var(--color-hover, #AACF80));
    transform: translate(-50%, -50%) rotate(0);
}

:host(:nth-child(1n)) .btn-open:before {
    animation: button-pulse 1s ease;
}

:host(:nth-child(2n)) .btn-open:before {
    animation: button-pulse 1s 250ms ease;
}

:host(:nth-child(3n)) .btn-open:before {
    animation: button-pulse 1s .5s ease;
}

@keyframes button-pulse {
    0% {
        transform: translate(-50%, -50%) scale(1)
    }
    30% {
        transform: translate(-50%, -50%) scale(1.5)
    }
    100% {
        transform: translate(-50%, -50%) scale(1)
    }
}

@media screen and (max-width: _max-width_) {
    :host .btn-open:before {
        background-color: transparent;
    }
}