:host {
  --wrapper-no-calc-column-width-left-align-items: var(--wrapper-no-calc-column-width-align-items-custom, center);
  --wrapper-no-calc-column-width-left-gap: var(--wrapper-no-calc-column-width-gap-custom, var(--content-spacing));
  --wrapper-no-calc-column-width-left-justify-content: flex-start;
}
@media only screen and (max-width: _max-width_) {
  :host {
    --wrapper-no-calc-column-width-left-gap: var(--wrapper-no-calc-column-width-gap-mobile-custom, var(--wrapper-no-calc-column-width-gap-custom, var(--content-spacing-mobile, var(--content-spacing))));
  }
}