<h2>Iframe with timeout 10s, width=100% and background-color</h2>
<a-iframe timeout="10000" background-color="var(--m-gray-400)">
  <template>
    <iframe width='100%' height='480' src='https://my.matterport.com/show/?m=YSNEkt4DstH&brand=0' frameborder='0' allowfullscreen allow='vr'></iframe>
  </template>
</a-iframe>
<h2>Iframe without timeout</h2>
<a-iframe>
  <template>
    <iframe width='100%' height='480' src='https://my.matterport.com/show/?m=YSNEkt4DstH&brand=0' frameborder='0' allowfullscreen allow='vr'></iframe>
  </template>
</a-iframe>
<h2>Iframe with timeout 2s after intersection and background-color. scroll down! ↓↓↓</h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a-iframe timeout="2000" background-color="var(--m-gray-400)">
  <template>
    <iframe width='100%' height='480' src='https://my.matterport.com/show/?m=YSNEkt4DstH&brand=0' frameborder='0' allowfullscreen allow='vr'></iframe>
  </template>
</a-iframe>
<!-- load web components for Demo Purposes Only -->
<script type="text/javascript" src="../../../../../../docs/es/loader.js"></script>
<script type="text/javascript" src="../../../../../../docs/es/documenter.js?component=Iframe.js"></script>