:host {
  --carousel-two-3-column-close-btn-background-color: var(--color-secondary);
  --carousel-two-3-column-close-btn-bottom: var(--content-spacing);
  --carousel-two-3-column-close-btn-right: var(--content-spacing);
  --carousel-two-3-column-nav-background-color-active: var(--carousel-two-3-column-nav-background-color-active-custom, var(--color-hover));
  --carousel-two-3-column-nav-background-color-hover: var(--carousel-two-3-column-nav-background-color-hover-custom, var(--color-hover));
  --carousel-two-3-column-nav-background-color: var(--carousel-two-3-column-nav-background-color-custom, var(--color-secondary));
  --carousel-two-3-column-nav-gap-mobile: var(--content-spacing-mobile);
  --carousel-two-3-column-nav-gap: var(--content-spacing);
  --carousel-two-3-column-nav-margin-mobile: var(--carousel-two-3-column-nav-margin-mobile-custom, var(--content-spacing-mobile));
  --carousel-two-3-column-nav-margin: var(--carousel-two-3-column-nav-margin-custom, var(--content-spacing));
  --carousel-two-3-column-section-gap: 1em;
  --carousel-two-3-column-section-nav-separate-margin-mobile: var(--content-spacing-mobile);
  --carousel-two-3-column-section-nav-separate-margin: var(--content-spacing);
  --carousel-two-3-column-p-margin: 0;
  --carousel-two-3-column-section-child-a-picture-margin: 0;
  --carousel-two-3-column-nav-margin-mobile: 0;
  --carousel-two-3-column-nav-margin: 0;

  --button-primary-background-color: var(--color-tertiary);
}
:host {
  --carousel-two-3-column-section-child-min-width: calc(100% / 3 - 0.5 * var(--carousel-two-3-column-section-gap) - 32px);
  --carousel-two-3-column-section-child-max-width: calc(100% / 3 - 0.5 * var(--carousel-two-3-column-section-gap) - 32px);
  --carousel-two-3-column-section-child-opacity-not-active: 1;
}
:host > section {
  width: calc(100vw - 96px);
  margin-left: calc(96px - var(--content-spacing));
}
:host > section > *:last-child {
  margin-right: 96px;
}
:host > section + div {
  /* margin-left: calc(var(--content-spacing) - 96px * 2); */
  /* width: var(--any-content-width, var(--content-width, 55%)); */
  margin-right: 96px;
}
:host > section + div > nav {
  margin-left: auto;
}
@media only screen and (max-width: _max-width_) {
  :host {
    --carousel-two-3-column-section-child-min-width: 80%;
    --carousel-two-3-column-section-child-max-width: 80%;
  }
  :host > section + div {
    display: none;
  }
}