:host {
  --carousel-two-3-column-close-btn-background-color: var(--color-secondary);
  --carousel-two-3-column-close-btn-bottom: var(--content-spacing);
  --carousel-two-3-column-close-btn-right: var(--content-spacing);
  --carousel-two-3-column-nav-background-color-active: var(--carousel-two-3-column-nav-background-color-active-custom, var(--color-hover));
  --carousel-two-3-column-nav-background-color-hover: var(--carousel-two-3-column-nav-background-color-hover-custom, var(--color-hover));
  --carousel-two-3-column-nav-background-color: var(--carousel-two-3-column-nav-background-color-custom, var(--color-secondary));
  --carousel-two-3-column-nav-gap-mobile: var(--content-spacing-mobile);
  --carousel-two-3-column-nav-gap: var(--content-spacing);
  --carousel-two-3-column-nav-margin-mobile: var(--carousel-two-3-column-nav-margin-mobile-custom, var(--content-spacing-mobile));
  --carousel-two-3-column-nav-margin: var(--carousel-two-3-column-nav-margin-custom, var(--content-spacing));
  --carousel-two-3-column-section-gap: 1em;
  --carousel-two-3-column-section-nav-separate-margin-mobile: var(--content-spacing-mobile);
  --carousel-two-3-column-section-nav-separate-margin: var(--content-spacing);
  --carousel-two-3-column-p-margin: 0;
  --carousel-two-3-column-section-child-a-picture-margin: 0;
  --carousel-two-3-column-nav-margin-mobile: 0;
  --carousel-two-3-column-nav-margin: 0;

  --button-primary-background-color: var(--color-tertiary);
}
:host {
  --carousel-two-3-column-section-child-min-width: calc(30% - var(--carousel-two-3-column-section-gap) / 2);
  --carousel-two-3-column-section-child-max-width: calc(30% - var(--carousel-two-3-column-section-gap) / 2);
  --carousel-two-3-column-section-child-opacity-not-active: 1;
}
:host > main > * {
  margin: var(--any-content-spacing, var(--content-spacing, unset)) auto var(--any-content-spacing, var(--content-spacing, unset)) 0;
  width: var(--any-content-width, var(--content-width, 55%));
}
:host > section {
  overflow: visible;
}
:host > section + div {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
}
@media only screen and (max-width: _max-width_) {
  :host {
    --carousel-two-3-column-section-child-min-width: 80%;
    --carousel-two-3-column-section-child-max-width: 80%;
  }
}