:host {
    flex-direction: column;
}
:host a-button {
    width: 100%;
}
@media only screen and (max-width: _max-width_) {
    :host {
        flex-direction: row;
        justify-content: start;
    }
    :host a-button {
        width: var(--tag-filter-a-button-width-mobile, var(--tag-filter-a-button-width-mobile-custom, auto));
    }
    :host([has-icons]) a-button {
        width: calc(33.33% - (var(--tag-filter-vertical-gap, 0.25em) * 0.6666));
    }
    :host([has-icons][icons-four]) a-button {
        width: calc(25% - (var(--tag-filter-vertical-gap, 0.25em) * 0.75));
    }
}