:host {
  --carousel-emotion-bg-background-color:var(--carousel-emotion-bg-background-color-custom, var(--m-white));
  --carousel-emotion-bg-color:var(--carousel-emotion-bg-color-custom, var(--m-black));
  --carousel-emotion-div-margin-mobile:var(--content-spacing-mobile);
  --carousel-emotion-h1-font-size-mobile: var(--carousel-emotion-h1-font-size-mobile-custom, min(calc(1.75em * 1.75), 7vw));
  --carousel-emotion-h1-font-weight: normal;
  --carousel-emotion-h1-text-transform: uppercase;
  --carousel-emotion-pagination-bottom-mobile: var(--content-spacing-mobile, var(--content-spacing, 2.5%));
  --carousel-emotion-pagination-bottom: var(--content-spacing, 2.5%);
  --carousel-emotion-pagination-top-mobile: unset;
  --carousel-emotion-pagination-top: unset;
  --carousel-picture-img-object-fit: var(--img-object-fit);
  --content-width-mobile:var(--carousel-emotion-content-width-mobile-custom, 100%);
  --content-width:var(--carousel-emotion-content-width-custom, 100%);
  --img-object-fit: cover;
 }