:host {
    --news-alnatura-h1-color: var(--news-alnatura-h1-color-custom, var(--color-secondary, var(--color)));
    --news-alnatura-h1-margin: var(--content-spacing) 0;
    --news-alnatura-intro-font-size: var(--news-alnatura-intro-font-size-custom, inherit);
    --news-alnatura-li-before-background-color: var(--news-alnatura-li-before-background-color-custom, var(--color));
    --news-alnatura-link-collection-padding: 0;
    --news-alnatura-p-line-height: var(--p-line-height, var(--line-height, normal));
    --news-alnatura-p-white-space: var(--news-alnatura-p-white-space-custom, pre-line);
    --news-alnatura-table-padding-right-last-child: 1em;
    --news-alnatura-table-vertical-align: top;
    --news-alnatura-ul-list-style: var(--news-alnatura-ul-list-style-custom, none);
}

:host ul>li>p {
    /* remove margin from contentful content p-tags */
    margin: 0;
}

:host .date {
    color: var(--color);
}

:host .intro-text {
    color: var(--color-secondary);
}

:host .content-one-picture-wrapper,
:host .content-two-picture-wrapper {
    clear: both;
    float: right;
    margin: var(--content-spacing, 0) 0 var(--content-spacing, 0) var(--content-spacing, 0);
    max-width: 17vw;
}

:host .content-three-text-wrapper p, .content-four-text-wrapper p {
    white-space: initial;
}

:host .image-one-description {
    padding-top: 1em;
}

:host td, th {
    padding: 1em 0.5em;
}

:host table * p {
    line-height: 100%;
    margin: 0;
}

/* striping */
tr:nth-of-type(odd) {
    background: #eee;
}

:host ol {
    padding-left: 2em;
    counter-reset: item;
    list-style: none;
}

:host ol li {
    position: relative;
    margin-bottom: 1em;
}

:host ol li::before {
    font-size: 1.75em;
    position: absolute;
    top: -0.45em;
    left: calc(-1 * 1.75em);
    width: 2em;
    color: var(--color-secondary);
    content: counters(item, ".") ".";
    counter-increment: item;
    text-align: center;
}

@media only screen and (max-width: _max-width_) {

    :host {
        --img-object-fit: cover;
    }

    :host .content-one-picture-wrapper,
    :host .content-two-picture-wrapper {
        max-width: 100vw;
        float: unset;
        margin: var(--content-spacing-mobile, 0) 0;
    }
}