:host {
    --emotion-pictures-with-video-h1-color: var(--emotion-pictures-with-video-h1-color-custom, var(--m-white));
    --emotion-pictures-with-video-width: 100%;
    --img-object-fit: cover;
    --img-width: 100%;
}