:host > section {
    grid-template-columns: ${this.getAttribute('first-column-with') || 'auto'} auto;
    grid-gap: var(--grid-2columns2rows-grid-gap-custom, var(--content-spacing));
}
:host > section > *[style] {
    padding: var(--grid-2columns2rows-padding-custom, var(--content-spacing));
}
/* ****************************************** first-container-vertical ****************************************** */
/* filter left */
:host([first-container-vertical]) > section > *:nth-child(1) {
    grid-row: 1 / span 2;
    grid-column: 1 / 1;
}
/* title + filter sub level */
:host([first-container-vertical]) > section > *:nth-child(2) {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}
:host([first-container-vertical][count-section-children="2"]) > section > *:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 2 / 2;
}
/* list */
:host([first-container-vertical]) > section > *:nth-child(3) {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}
/* ****************************************** first-container-horizontal ****************************************** */
/* title + filter top */
:host([first-container-horizontal]) > section > *:nth-child(1) {
    grid-row: 1 / 1;
    grid-column: 1 / span 2;
}
/* filter left sub level */
:host([first-container-horizontal]) > section > *:nth-child(2) {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}
:host([first-container-horizontal][count-section-children="2"]) > section > *:nth-child(2) {
    grid-row: 2 / 2;
    grid-column: 1 / span 2;
}
/* list */
:host([first-container-horizontal]) > section > *:nth-child(3) {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}
@media only screen and (max-width: _max-width_) {
    :host(:not([no-mobile])) > section {
        grid-template-columns: auto;
        grid-gap: var(--grid-2columns2rows-grid-gap-mobile-custom, var(--grid-2columns2rows-grid-gap-custom, var(--content-spacing-mobile, var(--content-spacing))));
    }
    :host(:not([no-mobile])) > section > * {
        padding: var(--grid-2columns2rows-padding-mobile-custom, var(--grid-2columns2rows-padding-custom, var(--content-spacing-mobile, var(--content-spacing))));
    }
    :host([first-container-horizontal]:not([no-mobile])) > section > *:nth-child(1),
    :host([first-container-vertical]:not([no-mobile])) > section > *:nth-child(1),
    :host([first-container-horizontal]:not([no-mobile])) > section > *:nth-child(2),
    :host([first-container-vertical]:not([no-mobile])) > section > *:nth-child(2),
    :host([first-container-horizontal][count-section-children="2"]:not([no-mobile])) > section > *:nth-child(2),
    :host([first-container-vertical][count-section-children="2"]:not([no-mobile])) > section > *:nth-child(2),
    :host([first-container-horizontal]:not([no-mobile])) > section > *:nth-child(3),
    :host([first-container-vertical]:not([no-mobile])) > section > *:nth-child(3) {
        grid-row: auto;
        grid-column: auto;
    }
}