:host {
  --button-primary-background-color-disabled: var(--button-primary-background-color-disabled-custom, var(--m-orange-300));
  --button-primary-background-color-hover: var(--button-primary-background-color-hover-custom, var(--m-orange-800));
  --button-primary-background-color: var(--button-primary-background-color-custom, var(--m-orange-600));
  --button-primary-color: var(--button-primary-color-custom, var(--m-white));
  --button-primary-font-family: text, Helvetica, Arial, sans-serif;
}