:host {
--tag-filter-default-ul-list-style:none;
--tag-filter-default-ul-display:flex;
--tag-filter-default-ul-flex-direction:row;
--tag-filter-default-ul-margin:0;
--tag-filter-default-a-color:var(--tag-filter-default-a-color-custom, var(--a-color, var(--color-secondary, var(--color, pink))));
--tag-filter-default-a-color-hover:var(--tag-filter-default-a-color-hover-custom, var(--a-color-hover, var(--color-hover, var(--color, green))));
}