:host {
  --carousel-two-default-nav-gap: var(--content-spacing);
  --carousel-two-default-nav-gap-mobile: var(--content-spacing-mobile);
  --carousel-two-default-nav-margin: var(--content-spacing);
  --carousel-two-default-nav-margin-mobile: var(--content-spacing-mobile);
 }