:host {
  --carousel-two-default-nav-background-color-active: var(--carousel-two-default-nav-background-color-active-custom, var(--color-hover));
  --carousel-two-default-nav-background-color-hover: var(--carousel-two-default-nav-background-color-hover-custom, var(--color-hover));
  --carousel-two-default-nav-background-color: var(--carousel-two-default-nav-background-color-custom, var(--color-secondary));
  --carousel-two-default-nav-gap-mobile: var(--content-spacing-mobile);
  --carousel-two-default-nav-gap: var(--content-spacing);
  --carousel-two-default-nav-margin-mobile: var(--content-spacing-mobile);
  --carousel-two-default-nav-margin: var(--content-spacing);
}
:host > *.arrow-nav {
  --carousel-two-default-color: var(--m-white);
}
:host > *.arrow-nav > *:hover {
  --carousel-two-default-color: var(--color-hover);
}