:host {
  --carousel-two-default-close-btn-background-color: var(--color-secondary);
  --carousel-two-default-close-btn-bottom: var(--content-spacing);
  --carousel-two-default-close-btn-right: var(--content-spacing);
  --carousel-two-default-nav-background-color-active: var(--carousel-two-default-nav-background-color-active-custom, var(--color-hover));
  --carousel-two-default-nav-background-color-hover: var(--carousel-two-default-nav-background-color-hover-custom, var(--color-hover));
  --carousel-two-default-nav-background-color: var(--carousel-two-default-nav-background-color-custom, var(--color-secondary));
  --carousel-two-default-nav-gap-mobile: var(--content-spacing-mobile);
  --carousel-two-default-nav-gap: var(--content-spacing);
  --carousel-two-default-nav-margin-mobile: var(--carousel-two-default-nav-margin-mobile-custom, var(--content-spacing-mobile));
  --carousel-two-default-nav-margin: var(--carousel-two-default-nav-margin-custom, var(--content-spacing));
  --carousel-two-default-section-gap: 1em;
  --carousel-two-default-section-nav-separate-margin-mobile: var(--content-spacing-mobile);
  --carousel-two-default-section-nav-separate-margin: var(--content-spacing);
  --carousel-two-default-p-margin: 0;
  --carousel-two-default-section-child-a-picture-margin: 0;
  --carousel-two-default-nav-margin-mobile: 0;
  --carousel-two-default-nav-margin: 0;
}
:host > *.arrow-nav {
  --carousel-two-default-color: var(--m-white);
}
:host > *.arrow-nav > *:hover {
  --carousel-two-default-color: var(--color-hover);
}
:host > section + div > p {
  align-self: center;
}
:host > section + div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}