:host > form p {
    margin: var(--simple-form-miduweb-p-margin, var(--p-margin, 0 auto var(--content-spacing)));
}
:host > form hr {
    border-bottom: var(--simple-form-miduweb-hr-border-bottom, var(--hr-border-bottom, 1px solid var(--color)));
    margin: var(--simple-form-miduweb-hr-margin, var(--content-spacing) auto);
}
:host label {
    color: var(--simple-form-miduweb-label-color, var(--simple-form-default-label-color, var(--label-color, var(--color, inherit))));
    display: var(--simple-form-miduweb-label-display, var(--simple-form-default-label-display, inline-block));
    font: var(--simple-form-miduweb-label-font, var(--simple-form-default-label-font, var(--label-font, inherit)));
    margin-bottom: var(--simple-form-miduweb-label-margin-bottom, var(--simple-form-default-label-margin-bottom, var(--label-margin-bottom, 0.5em)));
}
:host input, 
:host select, 
:host textarea, 
:host div {
    font: var(--simple-form-default-input-font, var(--input-font, inherit));
    transition: border-color 0.3s ease-out, outline 0.3s ease-out;
}
:host([dirty]) input:not(:valid), :host([dirty]) div:has(input[type=file]:not(:valid)), :host([dirty]) select:not(:valid), :host([dirty]) textarea:not(:valid) {
    border-color: var(--color-error, var(--color-secondary, red));
}
:host input + label::after, :host label:has(+ input)::after, :host select + label::after, :host label:has(+ select)::after, :host textarea + label::after, :host label:has(+ textarea)::after, :host input[type=file] + div::after, :host div:has(+ input[type=file])::after {
    color: var(--color-error, var(--color-secondary, red));
    content: attr(validation-message);
    display: none;
    float: right;
    font-size: 0.875em;
    opacity: 0;
    padding: 0 0.625em;
    text-decoration: underline;
    transition: opacity 0.3s ease-out;
}