:host {
  --picture-teaser-border-radius-mobile:50%;
  --picture-teaser-border-radius:50%;
  --picture-teaser-img-width-mobile: min(50vw, 100%);
  --teaser-round-background-color:var(--teaser-round-background-color-custom, var(--background-color, var(--m-white)));
  --teaser-round-figcaption-background-color: var(--teaser-round-figcaption-background-color-custom, var(--teaser-round-background-color));
  --teaser-round-figcaption-color-hover:var(--teaser-round-figcaption-color-hover-custom, var(--color-hover, var(--m-red-900)));
  --teaser-round-h5-text-align:center;
}
