:host {
    --button-primary-background-color-custom:#F5F5F5;
    --button-primary-color-custom:var(--m-black);
    --button-primary-icon-height:1.25em;
    --button-primary-padding:0.95em;
    --button-primary-border-radius:1.6em;
    --button-primary-font-size:0.8em;
    --button-primary-icon-right-margin:0;
    --button-primary-label-padding:0 0.5em;
    --button-primary-line-height:0;

    --metaheader-default-flex-direction:row-reverse;
    --metaheader-default-padding:0.5em 0 0 0;
    --metaheader-default-margin:0 auto;
    --metaheader-default-gap:1.5em;
    --metaheader-default-width:var(--header-default-content-width);
}

