:host {
    --button-primary-background-color-custom:var(--m-gray-100);
    --button-primary-background-color-hover-custom:var(--m-gray-300);
    --button-primary-color-custom:var(--m-black);

    --button-primary-icon-height:1.25em;
    --button-primary-padding:0.95em;
    --button-primary-border-radius:1.6em;
    --button-primary-font-size:0.8em;
    --button-primary-icon-right-margin:0;
    --button-primary-label-padding:0 0.5em;
    --button-primary-line-height:0;

    --meta-header-default-flex-direction:row-reverse;
    --meta-header-default-padding:0.5em 0 0 0;
    --meta-header-default-margin:0 auto;
    --meta-header-default-gap:1.5em;
    --meta-header-default-width:var(--header-default-content-width);
}