:host {
    --meta-header-default-a-color:var(--color);
    --meta-header-default-a-font-size:var(--meta-header-default-a-font-size-custom, 0.85em);
    --meta-header-default-a-margin:0 0.5em;
    --meta-header-default-a-text-decoration:none;
    --meta-header-default-flex-direction:row-reverse;
    --meta-header-default-gap:1.5em;
    --meta-header-default-margin:0 auto;
    --meta-header-default-padding:0.5em 0 0 0;
    --meta-header-default-width:var(--header-default-content-width);
}