:host {
  --button-download-icon-color: var(--button-download-icon-color-custom, var(--button-download-color-custom, var(--color-secondary)));
  --button-download-background-color: none;
  --button-download-color: var(--button-download-color-custom, var(--color-secondary));
  --button-download-color-hover: var(--button-download-color-hover-custom, var(--color-hover));
  --button-download-font-family: var(--font-family);
  --button-download-padding: 10px 10px 10px 0;
}

button:hover{
  --button-download-icon-color: var(--button-download-icon-color-hover-custom, var(--button-download-color-hover-custom, var(--color-hover)));
}

button:hover > span {
  transition: text-decoration 0.3s ease-out;
  text-decoration: underline;
}