:host {
  --any-padding-bottom-last-child: 0.5em;
  --gap-custom: 0;
  --menu-background-color: var(--menu-background-color-custom, var(--background-color));
  /* --menu-color: var(--menu-color-custom, var(--color-tertiary)); */
  --navigation-gastro-border-color: var(--navigation-gastro-color-custom);
  --navigation-gastro-border-width: 0;
  /* --navigation-gastro-color-active: var(--navigation-gastro-color-active-custom); */
  /* --navigation-gastro-color-hover: var(--navigation-gastro-color-hover-custom); */
  --navigation-gastro-color-second-level-custom: var(--m-black);
  /* --navigation-gastro-color: var(--navigation-gastro-color-custom, var(--menu-color)); */
  --navigation-gastro-flex-wrap-custom: nowrap;
  --navigation-gastro-padding-no-scroll: var(--navigation-gastro-padding-no-scroll-custom, 0 0 1em 0);
  --navigation-gastro-search-li-padding-custom: 0.25rem 0 0.25rem var(--content-spacing);
  --navigation-gastro-a-link-font-size: var(--navigation-gastro-a-link-font-size-custom, var(--font-size));
  --navigation-gastro-text-underline-offset: 0.5em;
  --navigation-gastro-transition: color 0.3s ease-out;
  --navigation-gastro-section-background-color: var(--navigation-gastro-section-background-color-custom, var(--menu-color));
  --navigation-gastro-background-color-open: var(--navigation-gastro-background-color-open-custom, var(--background-color));
  --navigation-gastro-border-color-active: var(--navigation-gastro-border-color-active-custom, var(--color-tertiary));
}

/* :host>nav>ul>li.active,
:host>nav>ul>li.open {
  --navigation-gastro-text-decoration: var(--navigation-gastro-text-decoration-hover);
} */

/* :host>nav>ul>li ul>li {
  --navigation-gastro-color-active: var(--navigation-gastro-color-active-custom);
   --navigation-gastro-text-decoration-hover: none; 
   --navigation-gastro-text-decoration-focus: none; 
} */

/* :host>nav>ul li.open>o-nav-wrapper>section {
  --navigation-gastro-background-color-hover: transparent;
} */

:host>nav>ul>li.open>a-link {
  --navigation-gastro-background-color-active: var(--m-white);
  --navigation-gastro-background-color-hover: var(--navigation-gastro-background-color-hover-custom, var(--menu-color));
  /* --navigation-gastro-color: var(--navigation-gastro-color-custom, var(--menu-background-color)); */

}

:host>nav>ul li.open>o-nav-wrapper>section>ul:not([width="100%"])>li,
:host>nav>ul li.open>o-nav-wrapper>section>ul:not([width="100%"])>li:last-child {
  border-bottom: 1px solid var(--color-quarternary);
  padding: 0;
}

/* #nav-section-0>section>*:not([style]):first-child {
  padding: 0 !important;
} */

:host>nav>ul li.open>o-nav-wrapper>section>ul {
  border-radius: 0;
}

:host>nav>ul li.open>o-nav-wrapper>section>ul,
:host>nav>ul li.open>o-nav-wrapper>section>ul a-link {
  /* border-bottom: 1px solid var(--color-quarternary); */
  /* --navigation-gastro-color-active: var(--navigation-gastro-color-active-custom); */
}

o-nav-wrapper h2 {
  --h2-font-size: 2.75em;
  --h2-font-family: var(--font-family);
  --h2-line-height: 2em;
  --h2-margin: 0;
  font-weight: 700;
  letter-spacing: -0.0125rem;
  border-bottom: 1px solid var(--color-quarternary);
}

:host>nav>ul li.open>o-nav-wrapper>section>ul {
  --padding: 0 !important;
}

:host>nav>ul>li>a-link {
  --navigation-gastro-color-active: var(--navigation-gastro-color-active-custom);
}

#nav-section-0>section>*:not([style]):first-child,
#nav-section-1>section>*:not([style]):first-child,
#nav-section-2>section>*:not([style]):first-child,
#nav-section-3>section>*:not([style]):first-child,
#nav-section-4>section>*:not([style]):first-child {
  margin: 0 1em 0 0 !important;
}

:host>nav>ul li.open>o-nav-wrapper>section>ul:not([style])[width="100%"]>li {
  border-bottom: 1px solid var(--color-quarternary);
}

@media only screen and (max-width: _max-width_) {
  o-nav-wrapper h2 {
    --h2-font-size: 1.75em;
    --h2-font-family: var(--font-family);
    --h2-line-height: 2em;
    --h2-margin: 0;
    --h2-color: var(--navigation-gastro-color-custom);
    font-weight: 700;
    letter-spacing: -0.0125rem;
    border-bottom: none;
  }

  :host {
    --padding-mobile: 0 !important;
    --padding-last-child-mobile: 0 !important;
    --navigation-gastro-background-color: var(--navigation-gastro-background-color-mobile-custom);
    --navigation-gastro-background-color-hover: transparent;
    --navigation-gastro-background-color-active: transparent;
    --navigation-gastro-transition: font-size 0.3s ease-out, color 0.3s ease-out, transform 0.3s ease-out;
    --navigation-gastro-header-default-border-bottom: 0;
    --navigation-gastro-h2-font-size: 1.85em;
  }

  :host>nav>ul>li.open>a-link {
    --navigation-gastro-color-open-mobile: var(--navigation-gastro-color-custom);
    /* --navigation-gastro-color-active: var(--navigation-gastro-color-active-custom); */
    --navigation-gastro-text-decoration: none;
    --navigation-gastro-text-decoration-hover: none;
    --navigation-gastro-text-decoration-focus: none;
    /* --navigation-gastro-color-hover: var(--m-orange-800, white) !important; */
  }

  :host>nav>ul>li.open>a-arrow {
    --navigation-gastro-path-color: var(--navigation-gastro-color-custom);
  }

  :host>nav>ul li.open>o-nav-wrapper>section {
    padding-bottom: var(--navigation-gastro-section-padding-bottom-custom, 30vh);
  }

  :host>nav>ul li.open>o-nav-wrapper>section>ul a-link {
    /* --navigation-gastro-font-size: 10rem; */
    /* --navigation-gastro-color-hover: var(--m-orange-800, white) !important; */
  }

  :host>nav>ul>li:not(.open)>a-link {
    /* --navigation-gastro-color-hover: var(--m-orange-800, white); */
  }

  :host>nav>ul:not(.language-switcher):not(.open):not(:hover)>li.active:not(.search):not(:last-child),
  :host>nav>ul:not(.language-switcher)>li.active:not(.search):not(:last-child),
  :host>nav>ul:not(.language-switcher)>li:not(.search):not(:last-child),
  :host>nav>ul:not(.language-switcher)>li:hover:not(.search):not(:last-child) {
    border-bottom: 1px solid var(--m-gray-500) !important;
  }

  :host>nav>ul:not(.open):not(.language-switcher)>li:not(.search):last-child,
  :host(.no-scroll)>nav>ul:not(.open):not(.language-switcher)>li:not(.search):last-child {
    border-bottom: 1px solid var(--m-gray-500) !important;
  }

  :host>nav>ul li.open>o-nav-wrapper>section>ul>li:first-child,
  :host>nav>ul li.open>o-nav-wrapper>section>ul>li.bold {
    --navigation-gastro-a-link-content-spacing-custom: 0 !important;
    --navigation-gastro-a-link-content-spacing-no-scroll-custom: var(--navigation-gastro-a-link-content-spacing-custom);
  }

  :host>nav>ul li.open>o-nav-wrapper>section>ul:not([width="100%"])+ul>li:first-child {
    border-top: 1px solid var(--color-quarternary);
  }

  :host>nav>ul li.open>o-nav-wrapper>section>ul,
  :host>nav>ul li.open>o-nav-wrapper>section>ul a-link {
    --navigation-gastro-background-color: var(--menu-background-color);
    --navigation-gastro-font-size: 1.125em;
  }



  @supports(selector(:has(+ ul))) {

    :host>nav>ul li.open>o-nav-wrapper>section>ul:not([width="100%"])+ul {
      --margin-mobile: calc(var(--content-spacing-mobile) * -2) 0 var(--content-spacing-mobile);
      --margin-last-child-mobile: calc(var(--content-spacing-mobile) * -2) 0 var(--content-spacing-mobile);
      --padding-mobile: 0;
      --padding-last-child-mobile: 1em 0;
    }
  }

  :host>nav>ul li.open>o-nav-wrapper>section {
    --navigation-gastro-a-link-content-spacing-no-scroll: 0 !important
  }
}