:host {
  --button-tertiary-background-color: transparent;
  --button-tertiary-color:var(--m-orange-600);
  --button-tertiary-border-color:transparent;
  --button-tertiary-background-color-hover:var(--m-orange-100);
  --button-tertiary-color-hover:var(--m-orange-600);
  --button-tertiary-border-color-hover:transparent;
  --button-tertiary-border-width:2px;
  --button-tertiary-background-color-disabled:transparent;
  --button-tertiary-padding:0.75em;
}