:host {
    --details-menu-single-icon-display: flex;
    --details-menu-single-icon-row: row;
    --details-menu-single-icon-justify-content: space-between;
    --details-menu-single-a-color-hover: var(--color);
    --details-menu-single-a-text-decoration: none;
    --details-menu-single-a-text-decoration-hover: none;
    --details-menu-single-summary-transform-hover: none;
    --details-menu-single-summary-child-color-hover: var(--color);
    --details-menu-single-summary-child-color: var(--color-secondary);
    --details-menu-single-svg-color: var(--color-secondary);
    --details-menu-single-ul-list-style: none;
    --details-menu-single-a-margin: none;
    --details-menu-single-summary-padding: 24px 30px;
    --details-menu-single-summary-padding-mobile: 24px 16px;
    --details-menu-single-child-padding: 0 30px;
    --details-menu-single-child-padding-open-mobile: 24px 16px;
    --details-menu-single-svg-color-hover: var(--color-secondary);

    padding-bottom: 30px;
}

:host details {
    background-color: black;
}

:host .image-box,
:host details[open] .image-box{
    flex-basis: 43.56%;
    margin-right: 25px;
}

:host .content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
    white-space: pre-line;
    color: var(--color);
}

:host .content-box > h3 {
    margin: 0 0 16px;
}

:host .content-box > * {
    text-align: left;
}

:host .content-box > .description {
    overflow-wrap: break-word;
    height: 70px;
}

:host .content-box > .end {
    margin: 0 0 16px;
}

:host details summary > div:hover > *, :host details summary > div:active > *, :host details summary > div:focus > * {
    --details-menu-single-svg-color: var(--details-menu-single-svg-color-hover);
}

:host .legende {
    color: var(--color);
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

:host .legende > li  {
    display: flex;
    height: 30px;
    margin: 0 10px 0 0;
    background-color: var(--color-secondary);
}

:host .legende > .legend-lable {
    width: auto;
    padding: 0 10px;
    border-radius: 12px;
}

:host .legende > .legend-icon {
    align-items: center;
    position: relative;
    width: 30px;
    border-radius: 50%;
}

:host .legende > .legend-icon .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: var(--color-secondary);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
:host .legende > .legend-icon .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-secondary) transparent transparent transparent;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
:host .legende > .legend-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


@media screen and (max-width: 768px){
    :host{
        --details-menu-single-icon-row: column;
    }

    :host .image-box,
    :host details[open] .image-box{
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }

    :host .details-container{
        padding: var(--details-menu-single-summary-padding-mobile, var(--details-menu-single-summary-padding, 0));
    }

}