:host {
   --emotion-pictures-with-logo-a-color-hover: var(--emotion-pictures-with-logo-a-color-hover-custom, var(--color-hover));
   --emotion-pictures-with-logo-a-text-decoration: none;
   --emotion-pictures-with-logo-bg-background-color: var(--emotion-pictures-with-logo-bg-background-color-custom, var(--m-white));
   --emotion-pictures-with-logo-bg-color: var(--emotion-pictures-with-logo-bg-color-custom, var(--m-black));
   --emotion-pictures-with-logo-div-margin-mobile: var(--emotion-pictures-with-logo-div-margin-mobile-custom, var(--content-spacing-mobile));
   --emotion-pictures-with-logo-h1-text-transform: var(--emotion-pictures-with-logo-h2-text-transform);
   --emotion-pictures-with-logo-h2-font-family-secondary: var(--emotion-pictures-with-logo-h2-font-family-secondary-custom, var(--font-family-bold));
   --emotion-pictures-with-logo-h2-font-size-mobile: var(--emotion-pictures-with-logo-h2-font-size-mobile-custom, min(calc(1.5em * 1.5), 7vw));
   --emotion-pictures-with-logo-h2-font-weight: normal;
   --emotion-pictures-with-logo-h2-text-transform: var(--emotion-pictures-with-logo-h2-text-transform-custom, none);
   --emotion-pictures-with-logo-padding-mobile: var(--content-spacing-mobile);
   --emotion-pictures-with-logo-padding: var(--content-spacing);
   --emotion-pictures-with-logo-subline-display-mobile: none;
   --img-object-fit: cover;
   --img-width: 100%;
   --logo-img-width-mobile: min(25vw, 100px);
   --logo-img-width: min(10vw, 150px);
}