:host {
    --tag-filter-button-background-color-active:var(--tag-filter-button-background-color-active-custom, var(--color-secondary));
    --tag-filter-button-background-color-hover:var(--tag-filter-button-background-color-hover-custom, var(--color-secondary));
    --tag-filter-button-background-color:var(--tag-filter-button-background-color-custom, var(--background-color, var(--color-secondary, white)));
    --tag-filter-button-border-radius: var(--tag-filter-button-border-radius-custom, 0);
    --tag-filter-button-color-hover: var(--tag-filter-button-color-hover-custom, var(--background-color, red));
    --tag-filter-button-color:var(--tag-filter-button-color-custom, var(--color-secondary, red));
    --tag-filter-default-content-spacing:var(--tag-filter-default-content-spacing-custom, var(--content-spacing, 0));
    --tag-filter-default-flex-wrap: var(--tag-filter-default-flex-wrap-custom, wrap);
    --tag-filter-default-ul-display:var(--tag-filter-default-ul-display-custom, flex);
    --tag-filter-default-ul-flex-direction:var(--tag-filter-default-ul-flex-direction-custom, row);
    --tag-filter-default-ul-list-style:var(--tag-filter-default-ul-list-style-custom, none);
    --tag-filter-default-ul-margin:var(--tag-filter-default-ul-margin-custom, 0);
}