:host {
    --tag-filter-default-ul-display:var(--tag-filter-default-ul-display-custom, flex);
    --tag-filter-default-ul-flex-direction:var(--tag-filter-default-ul-flex-direction-custom, row);
    --tag-filter-default-ul-list-style:var(--tag-filter-default-ul-list-style-custom, none);
    --tag-filter-default-ul-margin:var(--tag-filter-default-ul-margin-custom, 0);
    --tag-filter-default-flex-wrap: var(--tag-filter-default-flex-wrap-custom, wrap);
    --tag-filter-default-content-spacing:var(--tag-filter-default-content-spacing-custom, var(--content-spacing, 0));
}