:host > section {
    grid-template-columns: ${this.getAttribute('column-with') || 'auto'};
    grid-template-rows: auto;
    justify-content: space-evenly;
}
:host > section > * {
    padding: var(--grid-1column-align-center-padding-custom, var(--content-spacing));
}

@media only screen and (max-width: _max-width_) {
    :host(:not([no-mobile])) > section {
        grid-template-columns: 100%;
    }
    :host > section > * {
        padding: var(--grid-1column-align-center-padding-mobile-custom, var(--grid-1column-align-center-padding-custom, var(--content-spacing-mobile, var(--content-spacing))));
    }
}