:host {
    --navigation-nature-section-background-color: var(--background-color);
    --navigation-nature-section-margin-top-desktop: 29px;
    --navigation-nature-margin: 0 0 0 2em;
    --navigation-nature-color-active:var(--m-white);
}
:host > nav > ul li.open > o-nav-wrapper > section {
    --navigation-nature-color: var(--color-tertiary);
    --any-padding-bottom-last-child: 1em;
}
:host > nav > ul li.open > o-nav-wrapper > section > ul li {
    border-bottom: 1px solid var(--navigation-nature-border-color-custom);
    padding: 1em 0 !important;
}
:host>nav>ul li.open>o-nav-wrapper>section>ul li.active {
    --navigation-nature-color-active: var(--navigation-nature-color-active-custom);
}

@media only screen and (max-width: _max-width_) {
 :host {
    --navigation-nature-background-color: var(--m-white);
    --navigation-nature-color-mobile:var(--color-tertiary);
    --navigation-nature-color-active:var(--navigation-nature-color-active-custom);
    }
}
