:host {
    margin-bottom: 0 !important;
    min-height: var(--grid-2columns-content-stage-min-height, 300px);
}
:host([background-color]) {
    background-color: ${this.getAttribute('background-color')};
}
:host > section {
    grid-template-columns: ${this.getAttribute('first-column-with') || 'auto'} auto;
    grid-template-rows: auto 1fr;
    min-height: var(--grid-2columns-content-stage-min-height, 300px);
}
:host > section > * {
    padding: var(--grid-2columns-content-stage-padding-custom, var(--content-spacing));
}

:host .stage-content {
    margin: var(--grid-2columns-content-stage-stage-content-margin-custom) !important;
}
:host .topline {
    display: flex;
    font: var(--grid-2columns-content-stage-topline-font-custom);
    gap: 0.625rem;
    margin-top: 1rem;
}
:host .topline a {
    align-items: flex-start;
    display: inline-flex;
    width: 100%;
}
:host .topline.link-underline a:hover {
    color: var(--grid-2columns-content-stage-back-link-color-custom, white);
    text-decoration: underline;
}
:host .topline.link-underline a-icon-mdx {
    color: var(--grid-2columns-content-stage-icon-color-custom, white);
}
:host .topline > a > span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
:host .topline ks-m-favorite-button {
    display: none;
}
:host aside > img {
    width: 100%;
    height: 100%;
    min-height: var(--grid-2columns-content-stage-image-min-height, 280px);
    object-fit: cover;
    object-position: center center;
}
:host aside ks-m-favorite-button {
    display: inline-block;
}
:host a {
    color: white;
}
:host a-icon-mdx {
    color: var(--grid-2columns-content-stage-address-icon-color-custom, white);
    display: inline-block;
    position: relative;
    top: 0.125em;
}
:host a:hover a-icon-mdx {
    color: var(--grid-2columns-content-stage-address-icon-color-hover-custom, var(--a-color-hover, #333));
}
:host p.intro {
    font: var(--grid-2columns-content-stage-paragraph-font-custom) !important;
}
:host address {
    align-items: flex-start;
    display: flex;
    font: var(--grid-2columns-content-stage-address-font-custom);
    font-style: normal;
    gap: var(--grid-2columns-content-stage-address-gap-custom);
    margin-bottom: 2rem;
}
:host address a-icon-mdx {
    top: 0;
}

:host .aside-image,
:host aside > ks-m-favorite-button {
    padding: var(--grid-2columns-content-stage-aside-image-padding-custom);
    text-align: right;
}

:host aside > ks-m-favorite-button {
    width: fit-content;
    margin-left: auto;
    display: block;
}

:host .label {
    border: var(--grid-2columns-content-stage-label-border-custom);
    border-radius: var(--grid-2columns-content-stage-label-border-radius-custom);
    font: var(--grid-2columns-content-stage-label-font-custom);
    margin-left: var(--grid-2columns-content-stage-label-margin-left-custom);
    padding: var(--grid-2columns-content-stage-label-padding-custom);
}
/* ****************************************** first-container-vertical ****************************************** */
/* filter left */
:host([first-container-vertical]) > section > *:nth-child(1) {
    color: var(--grid-2columns-content-stage-first-column-color-custom, white);
    grid-row: 1 / span 2;
    grid-column: 1 / 1;
    height: auto;
    line-height: var(--grid-2columns-content-stage-first-column-line-height-custom, 1.5); 
    margin: var(--grid-2columns-content-stage-first-column-margin-custom,3rem 1rem 2rem calc(4rem/3));
    padding: var(--grid-2columns-content-stage-first-column-padding-custom, var(--grid-2columns-content-stage-padding-custom));
}
:host([first-container-vertical]) > section > *:nth-child(1) h1 {
    color: var(--grid-2columns-content-stage-first-column-color-custom, white);
    line-height: var(--grid-2columns-content-stage-first-column-line-height-custom, 1);
    margin-top: 1rem; 
    margin-bottom: 32px; 
    font-size: var(--grid-2columns-content-stage-first-column-h-font-size-custom, calc(8em/3));
}
:host([first-container-vertical]) > section > *:nth-child(1) p {
    font-size: var(--grid-2columns-content-stage-first-column-font-size-custom, calc(10em/9));
}
:host([first-container-vertical][dark-text-color]) > section > *:nth-child(1) * {
    color: var(--grid-2columns-content-stage-text-color-custom);
}
:host([first-container-vertical][dark-text-color]) .label {
    border-color: var(--grid-2columns-content-stage-text-color-custom);
}
/* title + filter sub level */
:host([first-container-vertical]) > section > *:nth-child(2) {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    padding: var(--grid-2columns-content-stage-second-column-padding-custom, var(--grid-2columns-content-stage-padding-custom));
}
:host([first-container-vertical]) > section > *:nth-child(2) div {
    background-image: url("${this.getAttribute('image-src')}");
    background-position: center center; 
    background-size: cover; 
    height: 100%;
    min-height: var(--grid-2columns-content-stage-image-min-height, 280px);
}
:host([first-container-vertical][with-border]) > section > *:nth-child(2) {
    border-left: var(--content-section-border-left-custom, 1px solid rgb(224, 224, 224));
}
:host([first-container-vertical][count-section-children="2"]) > section > *:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 2 / 2;
}
/* list */
:host([first-container-vertical]) > section > *:nth-child(3) {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}
:host([first-container-vertical]) > section > *[count-children="0"]:nth-child(2) ~ * {
    grid-row: 1 / 2;
}
/* ****************************************** first-container-horizontal ****************************************** */
/* title + filter top */
:host([first-container-horizontal]) > section > *:nth-child(1) {
    grid-row: 1 / 1;
    grid-column: 1 / span 2;
}
/* filter left sub level */
:host([first-container-horizontal]) > section > *:nth-child(2) {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}
:host([first-container-horizontal][count-section-children="2"]) > section > *:nth-child(2) {
    grid-row: 2 / 2;
    grid-column: 1 / span 2;
}
:host([first-container-horizontal][count-section-children="2"][height="100%"]) > section > *:last-child {
    align-self: end;
}
/* list */
:host([first-container-horizontal]) > section > *:nth-child(3) {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}
@media only screen and (max-width: _max-width_) {
    :host {
        min-height: var(--grid-2columns-content-stage-min-height-mobile, var(--grid-2columns-content-stage-min-height, 300px));
    }
    :host > section {
        min-height: var(--grid-2columns-content-stage-min-height-mobile, var(--grid-2columns-content-stage-min-height, 300px));
    }
    :host(:not([no-mobile])) {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
    }
    :host(:not([no-mobile])) > section {
        border-bottom: 0 none;
        grid-template-columns: auto;
    }
    :host > section > * {
        padding: var(--grid-2columns-content-stage-padding-mobile-custom, var(--grid-2columns-content-stage-padding-custom, var(--content-spacing-mobile, var(--content-spacing))));
    }
    :host > section p.intro {
        font-size: 18px;
    }
    :host .stage-content {
        margin: var(--grid-2columns-content-stage-stage-content-margin-mobile-custom) !important;
    }
    :host .topline ks-m-favorite-button {
        display: inline-block;
    }
    :host aside ks-m-favorite-button {
        display: none;
    }
    :host([first-container-vertical]) > section > *:nth-child(1) {
        padding: var(--grid-2columns-content-stage-first-column-padding-mobile-custom, var(--grid-2columns-content-stage-padding-mobile-custom));
    }
    :host([first-container-vertical]) > section > *:nth-child(2) {
        border-left: 0 none;
        padding: var(--grid-2columns-content-stage-second-column-padding-mobile-custom, var(--grid-2columns-content-stage-padding-mobile-custom));
    }
    :host([first-container-horizontal]:not([no-mobile])) > section > *:nth-child(1),
    :host([first-container-vertical]:not([no-mobile])) > section > *:nth-child(1),
    :host([first-container-horizontal]:not([no-mobile])) > section > *:nth-child(2),
    :host([first-container-vertical]:not([no-mobile])) > section > *:nth-child(2),
    :host([first-container-horizontal][count-section-children="2"]:not([no-mobile])) > section > *:nth-child(2),
    :host([first-container-vertical][count-section-children="2"]:not([no-mobile])) > section > *:nth-child(2),
    :host([first-container-horizontal]:not([no-mobile])) > section > *:nth-child(3),
    :host([first-container-vertical]:not([no-mobile])) > section > *:nth-child(3) {
        grid-row: auto;
        grid-column: auto;
    }
}