:host {
    --details-default-border-bottom-last: 2px solid ;
    --details-default-border-color-last:var(--color-secondary);
    --details-default-border-color:var(--color-secondary);
    --details-default-border-top: 2px solid var(--color-secondary);
    --details-default-icon-align-items:flex-start;
    --details-default-icon-justify-content: flex-end;
    --details-default-icon-margin: 0 0.875em 0 0;
    --details-default-icon-row: row-reverse;
    --details-default-summary-border-bottom-open: var(--hr-border-bottom, 1px dotted var(--color));
    --details-default-summary-padding: 0.875em 0;
    --details-default-svg-color: var(--color-secondary);
    --details-default-child-margin: var(--content-spacing) auto;
    --details-default-child-margin-mobile: var(--content-spacing-mobile) auto;
    --details-default-content-spacing: var(--content-spacing);
    --details-default-content-spacing-mobile: var(--content-spacing-mobile);
    --details-default-summary-child-color: var(--color-secondary);
}