:host > header {
  flex-direction: row;
}
:host > header > a-logo  {
    left: 2em;
    right: auto;
}
:host > header > m-navigation {
    animation: closeRight .4s ease-in;
    left: auto;
    right: -100vw;
}
:host > header.open > m-navigation {
    animation: openRight .3s ease-out;
    left: auto;
    right: 0;
}

