:root {
  --m-white: #FFFFFF;
  --m-black: #333333;
  --m-gray-50: #FAFAFA;
  --m-gray-100: #F5F5F5;
  --m-gray-200: #EDEDED;
  --m-gray-300: #E0E0E0;
  --m-gray-400: #BFBFBF;
  --m-gray-500: #A6A6A6;
  --m-gray-600: #808080;
  --m-gray-700: #737373;
  --m-gray-800: #595959;
  --m-gray-900: #404040;
  --m-orange-100: #FFF3EB;
  --m-orange-200: #FFE9DB;
  --m-orange-300: #FFDAC2;
  --m-orange-400: #FFB380;
  --m-orange-500: #FF944C;
  --m-orange-600: #FF6600;
  --m-orange-700: #E55C00;
  --m-orange-800: #B24800;
  --m-orange-900: #803300;
  --m-yellow-100: #FFF9EB;
  --m-yellow-200: #FFF4DB;
  --m-yellow-300: #FFEDC2;
  --m-yellow-400: #FFD980;
  --m-yellow-500: #FFCA4C;
  --m-yellow-600: #FFB300;
  --m-yellow-700: #E5A100;
  --m-yellow-800: #B27D00;
  --m-yellow-900: #805A00;
  --m-red-100: #FFEEEB;
  --m-red-200: #FEE1DC;
  --m-red-300: #FECCC3;
  --m-red-400: #FC9683;
  --m-red-500: #FB6C51;
  --m-red-600: #F92D06;
  --m-red-700: #E02805;
  --m-red-800: #AE1F04;
  --m-red-900: #7D1703;
  --m-green-100: #F2F9F0;
  --m-green-200: #E8F5E5;
  --m-green-300: #D8EED3;
  --m-green-400: #ADDCA2;
  --m-green-500: #8CCE7E;
  --m-green-600: #5BB946;
  --m-green-700: #52A63F;
  --m-green-800: #408131;
  --m-green-900: #2E5C23;
  --m-blue-100: #ECF8FE;
  --m-blue-200: #DDF2FD;
  --m-blue-300: #C5EAFB;
  --m-blue-400: #87D2F7;
  --m-blue-500: #57C1F4;
  --m-blue-600: #0FA6F0;
  --m-blue-700: #0E95D8;
  --m-blue-800: #0B74A8;
  --m-blue-900: #085378;
}
