/* font-faces analog: https://wiki.migros.net/pages/viewpage.action?spaceKey=DIGOPS&title=Webfonts+auf+cdn.migros.net */
@charset "utf-8";
/*
each website must add the tracking import as shown below in their variablesCustom.css
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx");
*/

@font-face{
	font-family:"HelveticaNowText";
	src:url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Regular.woff2") format("woff2"),url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
 
@font-face{
	font-family:"HelveticaNowTextBold";
	src:url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Bold.woff2") format("woff2"),url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face{
	font-family:"Avenir35Light";
	src:url("https://cdn.migros.ch/ch.migros/static/fonts/Avenir/Avenir35Light.woff2") format("woff2"),url("https://cdn.migros.ch/ch.migros/static/fonts/Avenir/Avenir35Light.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
