/* font-faces analog: https://wiki.migros.net/pages/viewpage.action?spaceKey=DIGOPS&title=Webfonts+auf+cdn.migros.net */
@charset "utf-8";
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=15e0d230-9ed9-11ec-b670-06c4e8753e28");

@font-face{
	font-family:"HelveticaNowText";
	src:url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Regular.woff2") format("woff2"),url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
 
@font-face{
	font-family:"HelveticaNowTextBold";
	src:url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW01-XBold.woff2") format("woff2"),url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW01-XBold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face{
	font-family:"Avenir35Light";
	src:url("https://cdn.migros.ch/ch.migros/static/fonts/Avenir/Avenir35Light.woff2") format("woff2"),url("https://cdn.migros.ch/ch.migros/static/fonts/Avenir/Avenir35Light.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
