/* hide component stuff before it is rendered to avoid the blitz (flashing white) */
:not(:defined) {
  display: none;
}
/* in general useful */
a[href^="mailto:"] {
  white-space: nowrap;
}
/* https://github.com/csstools/sanitize.css/blob/main/sanitize.css */
*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
:where(:root) {
  cursor: default;
  line-height: var(--line-height, normal);
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
:where(body) {
  margin: 0;
}
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}
:where(pre) {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}
:where(b, strong) {
  font-weight: bolder;
}
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}
:where(iframe) {
  border-style: none;
}
:where(svg:not([fill])) {
  fill: currentColor;
}
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
  text-indent: 0;
}
:where(button, input, select) {
  margin: 0;
}
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}
:where(fieldset) {
  border: 1px solid var(--color, #a0a0a0);
}
:where(progress) {
  vertical-align: baseline;
}
:where(textarea) {
  margin: 0;
  resize: vertical;
}
:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
:where([aria-busy="true" i]) {
  cursor: progress;
}
:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}
:where([aria-hidden="false" i][hidden]) {
  display: initial;
}
:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
/* https://github.com/csstools/sanitize.css/blob/main/forms.css */
:where(select) {
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center / 1em;
  border-radius: 0;
  padding-right: 1em;
}
:where(select[multiple]) {
  background-image: none;
}
:where([type="color" i], [type="range" i]) {
  border-width: 0;
  padding: 0;
}
/* https://github.com/csstools/sanitize.css/blob/main/assets.css */
:where(iframe, img, input, video, select, textarea) {
  /* height: auto; */
  max-width: 100%;
}
