/* https://www.figma.com/file/qrlDSGcoLRt6NDU3p7O0T3/Typography?node-id=3194%3A213 */
:host h1, :host h6 {
  color: var(--h1-color, var(--color, black));
  display: var(--h1-display, block);
  font-size: var(--h1-font-size, 1.75rem);
  font-family: var(--h1-font-family, var(--font-family-bold, var(--font-family)));
  font-weight: var(--h1-font-weight, 800);
  line-height: var(--h1-line-height, 1.286em);
  text-align: var(--h1-text-align, start);
  word-break: var(--h1-word-break, normal);
  text-transform: var(--h1-text-transform, none);
  margin: var(--h1-margin, 0 auto 1.143em);
  padding: var(--h1-padding, unset);
}
:host h2 {
  color: var(--h2-color, var(--color, black));
  display: var(--h2-display, block);
  font-size: var(--h2-font-size, 1.5rem);
  font-family: var(--h2-font-family, var(--font-family-bold, var(--font-family)));
  font-weight: var(--h2-font-weight, 700);
  line-height: var(--h2-line-height, 1.334em);
  text-align: var(--h2-text-align, start);
  word-break: var(--h2-word-break, normal);
  text-transform: var(--h2-text-transform, none);
  margin: var(--h2-margin, 0 auto 1.143em);
  padding: var(--h2-padding, unset);
}
:host h3 {
  color: var(--h3-color, var(--color, black));
  display: var(--h3-display, block);
  font-size: var(--h3-font-size, 1.25rem);
  font-family: var(--h3-font-family, var(--font-family-bold, var(--font-family)));
  font-weight: var(--h3-font-weight, 700);
  line-height: var(--h3-line-height, 1.4em);
  text-align: var(--h3-text-align, start);
  word-break: var(--h3-word-break, normal);
  text-transform: var(--h3-text-transform, none);
  margin: var(--h3-margin, 0 auto 1.143em);
  padding: var(--h3-padding, unset);
}
:host h4 {
  color: var(--h4-color, var(--color, black));
  display: var(--h4-display, block);
  font-size: var(--h4-font-size, 1.125rem);
  font-family: var(--h4-font-family, var(--font-family-bold, var(--font-family)));
  font-weight: var(--h4-font-weight, 700);
  line-height: var(--h4-line-height, 1.334em);
  text-align: var(--h4-text-align, start);
  word-break: var(--h4-word-break, normal);
  text-transform: var(--h4-text-transform, none);
  margin: var(--h4-margin, 0 auto 1.143em);
  padding: var(--h4-padding, unset);
}
:host h5 {
  color: var(--h5-color, var(--color, black));
  display: var(--h5-display, block);
  font-size: var(--h5-font-size, 1rem);
  font-family: var(--h5-font-family, var(--font-family-bold, var(--font-family)));
  font-weight: var(--h5-font-weight, 700);
  line-height: var(--h5-line-height, 1.334em);
  text-align: var(--h5-text-align, start);
  word-break: var(--h5-word-break, normal);
  text-transform: var(--h5-text-transform, none);
  margin: var(--h5-margin, 0 auto 1.143em);
  padding: var(--h5-padding, unset);
}
:host .font-size-huge {
  font-size: calc(var(--h1-font-size, 1.75rem) * 1.5);
}
:host p {
  font-family: var(--p-font-family, var(--font-family));
  font-size: var(--p-font-size, 1em);
  font-weight: var(--p-font-weight, var(--font-weight, normal));
  line-height: var(--p-line-height, var(--line-height, normal));
  text-align: var(--p-text-align, start);
  text-transform: var(--p-text-transform, none);
  margin: var(--p-margin, 0 auto var(--content-spacing));
}
:host a {
  cursor: pointer;
  color: var(--a-color, var(--color-secondary, var(--color, pink)));
  font-weight: var(--a-font-weight, var(--font-weight, normal));
  text-align: var(--a-text-align, unset);
  font-size: var(--a-font-size, 1em);
  text-decoration: var(--a-text-decoration, var(--text-decoration, underline));
  text-underline-offset: var(--a-text-underline-offset, unset);
  display: var(--a-display, block);
  margin: var(--a-margin, 0 auto var(--content-spacing));
  transition: var(--a-transition, color 0.3s ease-out);
}
:host *:not(main) a {
  display: var(--any-a-display, var(--a-display, inline));
}
:host a:hover, :host a:active, :host a:focus {
  color: var(--a-color-hover, var(--color-hover, var(--color, green)));
  text-decoration: var(--a-text-decoration-hover, var(--text-decoration-hover, var(--a-text-decoration, var(--text-decoration, underline))));
}
:host a > h1, :host a > h2, :host a > h3, :host a > h4, :host a > h5, :host a > h6 {
  color: var(--a-color, var(--color-secondary, var(--color, pink)));
  text-decoration: var(--a-text-decoration, var(--text-decoration, underline));
  text-underline-offset: var(--a-text-underline-offset, unset);
}
:host a:hover > h1, :host a:active > h1, :host a:focus > h1,
:host a:hover > h2, :host a:active > h2, :host a:focus > h2,
:host a:hover > h3, :host a:active > h3, :host a:focus > h3,
:host a:hover > h4, :host a:active > h4, :host a:focus > h4,
:host a:hover > h5, :host a:active > h5, :host a:focus > h5,
:host a:hover > h6, :host a:active > h6, :host a:focus > h6 {
  color: var(--a-color-hover, var(--color-hover, var(--color, green)));
  text-decoration: var(--a-text-decoration-hover, var(--text-decoration-hover, var(--a-text-decoration, var(--text-decoration, underline))));
}
:host a:hover *.a-arrow {
  --color: var(--a-color-hover, var(--color-hover, green));
}
:host ul {
  text-align: var(--ul-text-align, var(--ol-text-align, start));
  display: var(--ul-display, var(--ol-display, block));
  flex-direction: var(--ul-flex-direction, var(--ol-flex-direction, column));
  box-sizing: var(--ul-box-sizing, var(--ol-box-sizing, border-box));
  list-style: var(--ul-list-style, disc);
}
:host ul.icons {
  list-style: var(--ul-icon-list-style, none);
  padding: var(--ul-icon-padding, 0);;
}
:host ul li, :host ol li {
  align-self: var(--li-align-self, auto);
}
:host ol {
  text-align: var(--ol-text-align, var(--ul-text-align, start));
  display: var(--ol-display, var(--ul-display, block));
  flex-direction: var(--ol-flex-direction, var(--ul-flex-direction, column));
  box-sizing: var(--ol-box-sizing, var(--ul-box-sizing, border-box));
}
:host .bold, :host strong {
  font-family: var(--font-family-strong, var(--font-family-bold, var(--font-family)));
  font-weight: var(--font-weight-strong, bold);
  text-transform: var(--text-transform-strong, none);
}
:host .line-height-one-em {
  line-height: 1em;
}
:host .title-border:before {
  width: 1.5em;
  height: 0.25em;
  background-color: var(--color-secondary);
  content: '';
  display: block;
  margin-bottom: 0.3em;
}
:host hr {
  border: var(--hr-border, 0);
  border-bottom: var(--hr-border-bottom, 1px dotted var(--color));
  background: var(--hr-background, 0);
  opacity: var(--hr-opacity, 0.5);
}
:host img {
  max-width: 100%;
}
:host table {
  border-collapse: var(--table-border-collapse, collapse);
  border-spacing: var(--table-border-spacing, 0);
  max-width: var(--table-max-width, 100%);
}
:host table:not([border=0]) td {
  border: var(--table-td-border, 1px solid var(--color));
}
/* https://heroicons.com/ */
:host a[href^="/"]:not(.no-icon):before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="white"><path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" /></svg>');
}
:host a[href^="http"]:not(.no-icon):before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="white"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" /><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" /></svg>');
}
:host a[href$=".pdf"]:not(.no-icon):before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="white"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" /></svg>');
}
:host a[href$=".xls"]:not(.no-icon):before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="white"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd" /></svg>');
}
:host a[href^="/"]:not(.no-icon):before, :host a[href^="http"]:not(.no-icon):before, :host a[href$=".pdf"]:not(.no-icon):before, :host a[href$=".xls"]:not(.no-icon):before {
  background-color: var(--a-color, var(--color-secondary));
  border-radius: 0.25em;
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em 0.5em 0.25em 0;
  height: 2em;
  vertical-align: sub;
  width: 2em;
  transition: var(--a-transition, background-color 0.3s ease-out);
}
:host a[href^="/"]:not(.no-icon):hover:before, :host a[href^="http"]:not(.no-icon):hover:before, :host a[href$=".pdf"]:not(.no-icon):hover:before, :host a[href$=".xls"]:not(.no-icon):hover:before {
  background-color: var(--a-color-hover, var(--color-hover, var(--color, green)));
}
:host .quote {
  text-align: var(--q-text-align, center);
}
:host .quote > q {
  font-style: var(--q-font-style, italic);
}
:host .quote > small {
  font-size: var(--q-font-size, 0.8em);
}
.spacer, .spacer-two, .spacer-three, .spacer-four {
  display: block;
  height: 1px;
  margin: 0 auto;
  padding: 0;
}
.spacer-two {
  height: calc(var(--spacer-height, calc(var(--content-spacing) * 2)) / 2);
}
.spacer-three {
  height: var(--spacer-height, calc(var(--content-spacing) * 2));
}
.spacer-four {
  height: var(--spacer-height, calc(var(--content-spacing) * 3));
}
:host *.bg-color, :host *.bg-color-hover {
  display: inline;
  color: var(--bg-color, var(--background-color, red));
  --color: var(--bg-color, var(--background-color, red));
  background-color: var(--bg-background-color, var(--color-secondary, green));
  box-shadow: var(--bg-padding, 0.5em) 0 0 var(--bg-background-color, var(--color-secondary, green)), calc(0px - var(--bg-padding, 0.5em)) 0 0 var(--bg-background-color, var(--color-secondary, green));
  line-height: var(--bg-line-height, 1.6em);
  transition: var(--bg-transition, background-color 0.3s ease-out, box-shadow 0.3s ease-out);
  position: relative;
  left: var(--bg-padding, 0.5em);
  margin: 0;
  padding: 0;
}
:host *.bg-color::after, :host *.bg-color-hover::after {
  display: block;
  width: 0px;
  height: 0px;
  clear: both;
  content: '';
}
:host *.bg-color-hover {
  color: var(--bg-color-hover, var(--bg-color, var(--background-color, red)));
  --color: var(--bg-color-hover, var(--bg-color, var(--background-color, red)));
  background-color: var(--bg-background-color-hover, var(--color-hover, var(--bg-background-color, var(--color-secondary, green))));
  box-shadow: var(--bg-padding, 0.5em) 0 0 var(--bg-background-color-hover, var(--color-hover, var(--bg-background-color, var(--color-secondary, green)))), calc(0px - var(--bg-padding, 0.5em)) 0 0 var(--bg-background-color-hover, var(--color-hover, var(--bg-background-color, var(--color-secondary, green))));
}
img[style="float: left;"] {
  margin: var(--img-float-left-margin, 0 var(--content-spacing) calc(var(--content-spacing) / 2) 0);
}
img[style="float: right;"] {
  margin: var(--img-float-right-margin, 0 0 calc(var(--content-spacing) / 2) var(--content-spacing));
}
@media only screen and (max-width: _max-width_) {
  :host h1, :host h6 {
    font-size: var(--h1-font-size-mobile, var(--h1-font-size, 1.75rem));
    line-height: var(--h1-line-height-mobile, var(--h1-line-height, 1.286em));
    word-break: var(--h1-word-break-mobile, var(--h1-word-break, normal));
    text-transform: var(--h1-text-transform-mobile, var(--h1-text-transform, none));
    margin: var(--h1-margin-mobile, var(--h1-margin, 0 auto 1.143em));
  }
  :host h2 {
    font-size: var(--h2-font-size-mobile, var(--h2-font-size, 1.5rem));
    line-height: var(--h2-line-height-mobile, var(--h2-line-height, 1.334em));
    word-break: var(--h2-word-break-mobile, var(--h2-word-break, normal));
    text-transform: var(--h2-text-transform-mobile, var(--h2-text-transform, none));
    margin: var(--h2-margin-mobile, var(--h2-margin, 0 auto 1.143em));
  }
  :host h3 {
    font-size: var(--h3-font-size-mobile, var(--h3-font-size, 1.25rem));
    line-height: var(--h3-line-height-mobile, var(--h3-line-height, 1.4em));
    word-break: var(--h3-word-break-mobile, var(--h3-word-break, normal));
    text-transform: var(--h3-text-transform-mobile, var(--h3-text-transform, none));
    margin: var(--h3-margin-mobile, var(--h3-margin, 0 auto 1.143em));
  }
  :host h4 {
    font-size: var(--h4-font-size-mobile, var(--h4-font-size, 1.125rem));
    line-height: var(--h4-line-height-mobile, var(--h4-line-height, 1.334em));
    word-break: var(--h4-word-break-mobile, var(--h4-word-break, normal));
    text-transform: var(--h4-text-transform-mobile, var(--h4-text-transform, none));
    margin: var(--h4-margin-mobile, var(--h4-margin, 0 auto 1.143em));
  }
  :host h5 {
    font-size: var(--h5-font-size-mobile, var(--h5-font-size, 1rem));
    line-height: var(--h5-line-height-mobile, var(--h5-line-height, 1.334em));
    word-break: var(--h5-word-break-mobile, var(--h5-word-break, normal));
    text-transform: var(--h5-text-transform-mobile, var(--h5-text-transform, none));
    margin: var(--h5-margin-mobile, var(--h5-margin, 0 auto 1.143em));
  }
  :host .font-size-huge {
    font-size: calc(var(--h1-font-size-mobile, var(--h1-font-size, 1.75rem)) * 1.5);
  }
  :host p {
    font-size: var(--p-font-size-mobile, var(--p-font-size, 1em));
    line-height: var(--p-line-height-mobile, var(--p-line-height, var(--line-height, normal)));
    text-transform: var(--p-text-transform-mobile, var(--p-text-transform, none));
    margin: var(--p-margin-mobile, var(--p-margin, 0 auto var(--content-spacing-mobile, var(--content-spacing))));
  }
  :host a {
    font-size: var(--a-font-size-mobile, var(--a-font-size, 1em));
    margin: var(--a-margin-mobile, var(--a-margin, 0 auto var(--content-spacing-mobile, var(--content-spacing))));
  }
  :host *:not(main) a {
    display: var(--any-a-display-mobile, var(--any-a-display, var(--a-display-mobile, var(--a-display, inline))));
  }
  .spacer-two {
    height: calc(var(--spacer-height-mobile, var(--spacer-height, calc(var(--content-spacing-mobile, var(--content-spacing)) * 2))) / 2);
  }
  .spacer-three {
    height: var(--spacer-height-mobile, var(--spacer-height, calc(var(--content-spacing-mobile, var(--content-spacing)) * 2)));
  }
  .spacer-four {
    height: var(--spacer-height-mobile, var(--spacer-height, calc(var(--content-spacing-mobile, var(--content-spacing)) * 3)));
  }
  img[style="float: left;"] {
    margin: var(--img-float-left-margin-mobile, var(--img-float-left-margin, 0 var(--content-spacing-mobile, var(--content-spacing)) calc(var(--content-spacing-mobile, var(--content-spacing)) / 2) 0));
  }
  img[style="float: right;"] {
    margin: var(--img-float-right-margin-mobile, var(--img-float-right-margin, 0 0 calc(var(--content-spacing-mobile, var(--content-spacing)) / 2) var(--content-spacing-mobile, var(--content-spacing))));
  }
}