          <h2>&#10136; scroll down</h2>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h2>Mobile</h2>
          <span>filter: contrast(), max-value: 100%</span>
          <o-intersection-scroll-effect media=mobile css-property=filter effect=contrast max-value=100% offset=50>
            <a-picture namespace=picture- defaultSource="./img/waschtag.jpg" alt="Croisé"></a-picture>
          </o-intersection-scroll-effect>
          <h2>Desktop</h2>
          <span>filter: contrast(), max-value: 100%, transition: 0.5s ease</span>
          <o-intersection-scroll-effect media=desktop css-property=filter effect=contrast max-value=100% transition="0.5s ease">
            <a-picture namespace=picture- defaultSource="./img/waschtag.jpg" alt="Croisé"></a-picture>
          </o-intersection-scroll-effect>
          <h2>Desktop</h2>
          <span>filter: grayscale(), max-value: 100%, invert: true, transition: 2s ease</span>
          <o-intersection-scroll-effect media=desktop css-property=filter effect=grayscale max-value=100% transition=".3s ease">
            <a-picture namespace=picture- defaultSource="./img/waschtag.jpg" alt="Croisé"></a-picture>
          </o-intersection-scroll-effect>
          <h2>Desktop</h2>
          <span>filter: contrast(), max-value: 50%, invert: true</span>
          <o-intersection-scroll-effect media=desktop css-property=--picture-filter effect=contrast max-value=50% invert=true>
            <a-picture namespace=picture- defaultSource="./img/waschtag.jpg" alt="Croisé"></a-picture>
          </o-intersection-scroll-effect>
          <h2>Desktop</h2>
          <span>filter: opacity(), max-value: 1</span>
          <o-intersection-scroll-effect media=desktop css-property=--picture-filter effect=opacity max-value=1>
            <a-picture namespace=picture- defaultSource="./img/waschtag.jpg" alt="Croisé"></a-picture>
          </o-intersection-scroll-effect>
          <h2>Desktop</h2>
          <span>transform: translateX(), max-value: 300px</span>
          <o-intersection-scroll-effect media=desktop css-property=--picture-transform effect=translateX max-value=100vw>
            <style>
              :host {
                --overflow: visible;
              }
            </style>
            <a-picture namespace=picture- defaultSource="./img/waschtag.jpg" alt="Croisé"></a-picture>
          </o-intersection-scroll-effect>
          <h2>Mobile</h2>
          <span>transform: translateX(), max-value: 150px, invert: true</span>
          <o-intersection-scroll-effect media=mobile css-property=--picture-transform-mobile effect=translateX max-value=150px invert=true>
            <a-picture namespace=picture- defaultSource="./img/waschtag.jpg" alt="Croisé"></a-picture>
          </o-intersection-scroll-effect>
          <h2>Desktop</h2>
          <span>transform: rotate(), max-value: 360deg</span>
          <o-intersection-scroll-effect media=desktop css-property=--picture-transform effect=rotate max-value=360deg>
            <a-picture namespace=picture- defaultSource="./img/waschtag.jpg" alt="Croisé"></a-picture>
          </o-intersection-scroll-effect>
          <!-- load web components for Demo Purposes Only -->
<script type="text/javascript" src="../../../../../../docs/es/loader.js"></script>