:host {
    --download-box-shadow-hover: var(--download-box-shadow-hover-custom, 0 -2px 0 0 var(--download-box-shadow-color-hover-custom, var(--color-hover)) inset);
    --download-box-shadow: var(--download-box-shadow-custom, 0 -2px 0 0 var(--download-box-shadow-color-custom, var(--color-secondary)) inset);
    --download-color-hover: var(--download-color-hover-custom, var(--color-hover));
    --download-color: var(--download-color-custom, var(--color-secondary));
    --download-font-family: var(--font-family-bold);
    --download-icon-span-color:var(--download-icon-span-color-custom, var(--color));
    --download-icon-span-font-family:var(--font-family);
    --download-icon-span-padding:var(--download-icon-span-padding-custom, 0 0 0 10px);
}
