:host{
    --checkout-default-additional-info-color:var(--m-gray-800, black);
    --checkout-default-item-border-bottom: var(--m-gray-300, white);
    --product-checkout-img-max-height:6vw;
    --product-checkout-img-max-width:6vw;
    --checkout-default-delete-article-button-background-color-hover: transparent;
    --checkout-default-delete-article-button-padding: 0;
}