:host > section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: var(--grid-4colums2rows-grid-gap-custom, var(--content-spacing));
}
:host > section > *::part(button) {
    --button-primary-label-white-space: nowrap;
    --button-secondary-label-white-space: nowrap;
    --button-tertiary-label-white-space: nowrap;
    --button-quaternary-label-white-space: nowrap;
    text-wrap: nowrap;
    width: 100%;
}
@media only screen and (max-width: _max-width_) {
    :host > section {
        grid-template-columns: auto;
        grid-auto-flow: column;
        grid-gap: var(--grid-4colums2rows-grid-gap-mobile-custom, var(--grid-4colums2rows-grid-gap-custom, var(--content-spacing-mobile, var(--content-spacing))));
        grid-template-rows: 1fr;
        overflow-x: scroll;
    }
    /* display cutoff at scroll fix */
    :host > section > *:last-child {
        margin-right: 1px;
    }
}