:host {

  --teaser-download-background-color: var(--teaser-download-background-color-custom, var(--background-color, var(--m-white)));
  --teaser-download-figcaption-background-color: var(--teaser-download-figcaption-background-color-custom, var(--teaser-download-background-color));
  --teaser-download-figcaption-padding: 0.625em;
  --teaser-download-h5-margin: 0 0 0.5em;
  --teaser-download-p-font-size: 0.875em;
  --teaser-download-p-line-height: 1.14em;
  --teaser-download-p-margin: 0 0 0.625em;
}