:host {
    --product-default-a-color-hover: none;
    --product-default-a-color: var(--color, black);
    --product-default-a-margin: 0;
    --product-default-a-text-decoration: none;
    --product-default-aspect-ratio: 1;
    --product-default-content-spacing: var(--content-spacing-mobile, 0);
    --product-default-img-height-mobile: var(--product-default-img-height-mobile-custom, 7em);
    --product-default-img-max-height: var(--product-default-img-max-height-custom, 130px);
    --product-default-product-data-min-height: var(--product-default-product-data-min-height-custom, max-content);
    --product-default-product-image-align-items: var(--product-default-product-image-align-items-custom, center);
    --product-default-product-image-display: var(--product-default-product-image-display-custom, flex);
    --product-default-product-image-flex-grow: var(--product-default-product-image-flex-grow-custom, 1);
    --product-default-product-image-height: var(--product-default-product-image-height-custom, 135px);
    --product-default-product-image-max-height: var(--product-default-product-image-max-height-custom, 135px);
    --product-default-unit-price-color: var(--product-default-unit-price-color-custom, var(--m-gray-600));
}

@media only screen and (max-width: _max-width_) {
    :host {
        --product-default-aspect-ratio: 0;
    }
}