:host {
    --product-default-a-color-hover: none;
    --product-default-a-color: var(--color, black);
    --product-default-a-margin: 0;
    --product-default-a-text-decoration: none;
    --product-default-aspect-ratio: 1;
    --product-default-content-spacing: var(--content-spacing-mobile, 0);
    --product-default-img-height-mobile: 10em;
    --product-default-img-width-mobile: 18em;
    --product-default-unit-price-color: var(--product-default-unit-price-color-custom, var(--m-gray-600));
}

@media only screen and (max-width: _max-width_) {
    :host {
        --product-default-aspect-ratio: 0;
    }
}