:host {
  --teaser-plainer-img-margin:0;
  --teaser-plainer-img-width:100%;
  --teaser-plainer-p-text-align:center;
}
:host :hover {
  cursor: pointer;
}

:host figure > figcaption p {
  margin:0;
}

@media only screen and (max-width: _max-width_) {
:host {
    width: 100%;
  }
}


