:host {
    --details-menu-single-child-margin: 0 30px;
    --details-menu-portion-summary-child-margin: 16px 0;
    --details-menu-portion-summary-child-margin-open: var(--details-menu-portion-summary-child-margin);
    --details-menu-portion-icon-justify-content: flex-start;
    --details-menu-portion-border-top: 2px dotted #ddd;
    --details-menu-portion-summary-transform-hover: none;
    --details-menu-portion-child-padding-open-mobile: 0 0 24px 0;

    border-image: url(../assets/img/border-dotted-grey2.png) 2 0 0 0 repeat;
    width: calc(100% - 60px);
}

:host .nutrients-div {
    padding-bottom: 24px;
}

:host .nutrients-list {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
}

:host .nutrients-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 28px;
}

:host .nutrients-circle {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    margin: 3px auto 0;
    background-color: var(--color-secondary);
    border-radius: 50%;
    text-align: center;
}

:host .nutrients-circle > span {
    font-weight: 500;
}

:host .nutrients-item > span {
    margin-top: 10px;
    font-size: 0.7rem;
    text-transform: uppercase;
}

:host .portion-icon {
    width: 24px;
    height: 24px;
    margin-right: 20px !important;
    transform: rotate(0);
}

:host .portion-icon::before {
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    position: absolute;
    display: block;
    content: '';
    background-color: #97A619;
    transform: rotate(0);
    transition: transform .25s ease-out;
}
:host .portion-icon::after {
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    position: absolute;
    display: block;
    content: '';
    background-color: #97A619;
    transform: rotate(90deg);
}

:host details[open] .portion-icon::before{
    transform: rotate(90deg);
    transition: transform .25s ease-out;
}