:host {
    --details-menu-portion-border-top: 2px dotted #ddd;
    --details-menu-portion-child-padding-open-mobile: 0 0 var(--content-spacing);
    --details-menu-portion-icon-justify-content: flex-start;
    --details-menu-portion-summary-child-margin-open: var(--details-menu-portion-summary-child-margin);
    --details-menu-portion-summary-child-margin: 1rem 1.25rem 1rem 0;
    --details-menu-portion-summary-transform-hover: none;
    --details-menu-portion-ul-display: flex;
    --details-menu-portion-ul-flex-direction: row;
    --details-menu-portion-ul-list-style: none;
    --details-menu-portion-ul-text-align: center;
    --details-menu-single-child-margin: 0 1.875rem;
    border-image: url(_import-meta-url_./menu-portion-/img/border-dotted-grey2.png) 2 0 0 0 repeat;
}

:host .nutrients-div {
    padding-bottom: var(--content-spacing);
}

:host .nutrients-list {
    flex-wrap: wrap;
}

:host .nutrients-item{
    margin-right: 1.875rem;
    min-width: 7.3em;
}

:host .nutrients-circle {
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 6.25rem;
    justify-content: center;
    margin: 0.1875rem auto 0;
    text-align: var(--details-menu-portion-ul-text-align);
    white-space: pre-line;
    width: 6.25rem;
}

:host .dropdown-icon {
    height: 1.5rem;
    transform: rotate(0);
    width: 1.5rem;
}

:host .dropdown-icon::before {
    background-color: var(--color-secondary);
    content: '';
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: rotate(0);
    transition: transform .25s ease-out;
    width: 0.1875rem;
}

:host .dropdown-icon::after {
    background-color: var(--color-secondary);
    content: '';
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
    width: 0.1875rem;
}

:host details[open] .dropdown-icon::before{
    transform: rotate(90deg);
}