<a-button namespace="button-primary-">Hello Button</a-button>
<m-load-template-tag>
    <template>
        <p>hello world</p>
        <a-button namespace="button-primary-">Hello Button</a-button>
    </template>
</m-load-template-tag>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<m-load-template-tag>
    <template>
        <p>hello world</p>
    </template>
</m-load-template-tag>
<script type="text/javascript" src="../../../../../docs/es/loader.js"></script>