<a-select>
  <select name="pets" id="pet-select">
    <option value="">--Please choose an option--</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
  </select>
</a-select>

<!-- load web components for Demo Purposes Only -->
<script type="text/javascript" src="../../../../../../docs/es/loader.js"></script>
<script type="text/javascript" src="../../../../../../docs/es/documenter.js?component=Select.js"></script>