:host section {
  --wrapper-list-flex-direction: column;
  --wrapper-list-align-items: flex-start;
  --wrapper-list-justify-content: flex-start;
}

:host .o-wrapper__heading {
  --wrapper-list-h2-font-size: 0.75rem;
  --wrapper-list-margin-first-child: 0 0 2rem;
}

:host .o-wrapper__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  --wrapper-list-any-2-width: 100%;
}

@media only screen and (max-width: _max-width_) {
  :host .o-wrapper__heading {
    --wrapper-list-h2-font-size-mobile: 1rem;
  }

  :host .o-wrapper__list {
    flex-direction: column;
  }

  :host .o-wrapper__list-item + .o-wrapper__list-item {
    margin-top: 1rem;
  }
}