@media screen and (min-width: _max-width_){
    :host .content{
        visibility: hidden;
    }
    :host(.active) .content{
       visibility: hidden;
    }
    :host .content:after{
        top: 0;
        left: 50%;
        transform: translate(0,-50%) rotate(-135deg) scale(1);
    }
}