:host {
  --color: var(--background-color);
  --img-height: 100%;
  --img-object-fit: cover;
  --img-width: 100%;
  --picture-teaser-img-height: var(--img-height);
  --picture-teaser-img-object-fit: var(--img-object-fit);
  --picture-teaser-img-width: var(--img-width);
  --teaser-overlay-a-picture-height: 100%;
  --teaser-overlay-a-picture-transform-hover: scale(1.05, 1.05);
  --teaser-overlay-a-picture-transition: transform .5s ease-out;
  --teaser-overlay-align-items: center;
  --teaser-overlay-background-color: transparent;
  --teaser-overlay-bg-background-color: var(--teaser-overlay-bg-background-color-custom, var(--color-secondary, var(--m-red-800)));
  --teaser-overlay-bg-color-hover: var(--teaser-overlay-bg-color-hover-custom, var(--background-color, var(--m-red-900)));
  --teaser-overlay-bg-color: var(--teaser-overlay-bg-color-custom, var(--background-color, var(--m-red-800)));
  --teaser-overlay-bg-padding: 0.75rem;
  --teaser-overlay-figcaption-align-self: end;
  --teaser-overlay-figcaption-background-color: var(--teaser-overlay-background-color);
  --teaser-overlay-figcaption-height: auto;
  --teaser-overlay-figcaption-padding: 0 var(--teaser-overlay-bg-padding, var(--bg-padding, 0.5em)) 1em 0;
  --teaser-overlay-h2-margin: 0.09em 0;
  --teaser-overlay-overflow: hidden;
}
:host(:hover) {
  --teaser-overlay-bg-background-color: var(--teaser-overlay-bg-background-color-hover-custom, var(--color-hover, var(--m-red-900)));
}
:host figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
:host figure a-picture, :host figure m-picture-with-picture, :host figure figcaption {
  grid-column: 1;
  grid-row: 1;
}
:host figure figcaption {
  z-index: 1;
}
:host figure figcaption *.bg-color {
  padding-top: var(--teaser-overlay-bg-padding-top-custom, 0);
}
