:host {
  --carousel-two-teaser-section-child-min-width: calc(50% - var(--carousel-two-teaser-section-gap) / 2);
  --carousel-two-teaser-section-child-max-width: calc(50% - var(--carousel-two-teaser-section-gap) / 2);
  --carousel-two-teaser-section-child-opacity-not-active: 1;
}
:host > *.arrow-nav {
  --carousel-two-default-color: var(--m-white);
}
:host > main > * {
  margin: var(--any-content-spacing, var(--content-spacing, unset)) auto var(--any-content-spacing, var(--content-spacing, unset)) 0;
  width: var(--any-content-width, var(--content-width, 55%));
}
:host > *.arrow-nav > *:hover {
  --carousel-two-default-color: var(--color-hover);
}
:host > section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  overflow: visible;
}
:host > section + div {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
}
:host > *.arrow-nav, :host(.has-default-arrow-nav) > *.arrow-nav {
  display: contents;
}
:host > *.arrow-nav > *, :host(.has-default-arrow-nav) > *.arrow-nav > * {
  width: auto;
}
:host > *.arrow-nav > *:first-child, :host(.has-default-arrow-nav) > *.arrow-nav > *:first-child {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
:host > *.arrow-nav > *:last-child, :host(.has-default-arrow-nav) > *.arrow-nav > *:last-child {
  grid-column: 3 / 4;
  grid-row: 1 / 1;
}
:host([count-section-children="1"]) > *.arrow-nav, :host([count-section-children="2"]) > *.arrow-nav {
  display: none;
}
@media only screen and (max-width: _max-width_) {
  :host {
    --carousel-two-teaser-section-child-min-width: 30%;
    --carousel-two-teaser-section-child-max-width: 30%;
  }
  :host > *.arrow-nav, :host(.has-default-arrow-nav) > *.arrow-nav {
    display: none;
  }
}