/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --a-text-decoration: none;
  --background-color: black;
  --color-hover-secondary: var(--color);
  --color-hover: var(--color-secondary);
  --color-secondary: #FFED00;
  --color: white;
  --content-spacing-mobile: 0;
  --content-spacing: 20px;
  --content-width-mobile: 100%;
  --content-width-not-web-component-mobile: 90%;
  --content-width-not-web-component: var(--content-width);
  --content-width: 65%;
  --font-family-bold: "Futura Now Text W05 XBlack", "OPTIFutura-ExtraBlackCond", "FuturaT", "Arial", sans-serif;
  --font-family-secondary: var(--font-family);
  --font-family: "Futura Now Text W05 Regular", "FuturaT", Arial, sans-serif;
  --font-size-mobile: 19px;
  --font-size: max(22px, 1vw);
  --font-weight: 300;
  --footer-a-link-font-size-mobile: 0.8rem;
  --footer-a-link-font-size: 0.73rem;
  --footer-background-color: var(--header-background-color); 
  --footer-color-hover: var(--navigation-color-hover);
  --footer-color: var(--color-secondary);
  --footer-content-width-mobile: var(--content-width-not-web-component-mobile);
  --footer-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --footer-content-width-not-web-component: var(--content-width-not-web-component);
  --footer-content-width: var(--content-width);
  --footer-flex-direction: column;
  --footer-flex-wrap: wrap;
  --footer-logo-align-items: center;
  --footer-logo-container-flex-wrap-mobile: var(--footer-flex-wrap);
  --footer-logo-container-flex-wrap: var(--footer-flex-wrap);
  --footer-logo-container-justify-content-wrapped-mobile: var(--footer-logo-container-justify-content-wrapped);
  --footer-logo-container-justify-content-wrapped: center;
  --footer-logo-flex-flow: column-reverse;
  --footer-logo-height: var(--header-logo-height);
  --footer-logo-justify-content: flex-end;
  --footer-logo-margin: 10px 10px 10px;
  --footer-logo-max-height: var(--header-logo-max-height);
  --footer-logo-text-a-color-hover: var(--footer-logo-text-a-color);
  --footer-logo-text-a-color: #f60;
  --footer-logo-text-color: white;
  --footer-logo-text-font-size-mobile: var(--footer-a-link-font-size-mobile);
  --footer-logo-text-font-size: var(--footer-a-link-font-size);
  --footer-logo-text-line-height: 1.4em;
  --footer-min-height-mobile: 50px;
  --footer-min-height: 50px;
  --footer-padding-mobile: 3vh 0 0;
  --footer-padding: 5vh 0 0;
  --footer-text-align: center;
  --h1-text-align: center;
  --h2-font-size-mobile: min(2.5rem, 14vw);
  --h2-font-size: 3rem;
  --h2-line-height-mobile: var(--h2-line-height);
  --h2-line-height: normal;
  --h2-text-align: var(--h1-text-align);
  --h2-text-transform: uppercase;
  --h3-text-align: var(--h1-text-align);
  --h4-text-align: var(--h1-text-align);
  --h5-text-align: var(--h1-text-align);
  --header-background-color: var(--background-color); 
  --header-color: var(--color);
  --header-content-spacing: var(--content-spacing);
  --header-content-width-mobile: var(--content-width-mobile);
  --header-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --header-content-width-not-web-component: var(--content-width-not-web-component);
  --header-content-width: var(--content-width);
  --header-flex-direction : column;
  --header-flex-direction-mobile: column;
  --header-height : auto;
  --header-height-mobile: auto;
  --header-intro-p-margin: 0;
  --header-intro-section-width-mobile: var(--content-width-not-web-component-mobile);
  --header-justify-content-mobile: end;
  --header-justify-content: end;
  --header-logo-height: 25vw;
  --header-logo-margin: 10px 0 0;
  --header-logo-max-height: max(100px, 5vw);
  --header-padding: 0;
  --header-picture-display: inline-block; /* chrome has a bug and does not apply the filter on images if display: flex; */
  --header-picture-filter-hover: var(--picture-filter-hover);
  --header-picture-filter: var(--picture-filter);
  --header-picture-img-width: var(--picture-img-width);
  --header-picture-margin: 30px auto 45px;
  --header-picture-margin: var(--picture-margin);
  --header-picture-transition: var(--picture-transition);
  --header-picture-width-mobile: var(--picture-width-mobile);
  --header-picture-width: var(--picture-width);
  --header-position: static;
  --header-text-align: center;
  --header-title-color-secondary: var(--color-secondary);
  --header-title-font-family-bold: var(--font-family-bold);
  --highlight-list-border-bottom: none;
  --highlight-list-border-top: none;
  --highlight-list-content-spacing: 40px 0;
  --highlight-list-content-width-mobile: 100%;
  --highlight-list-content-width: 80%;
  --highlight-list-flex-direction: column;
  --hr-color: transparent;
  --html-background-color: var(--background-color);
  --img-max-width: 65%;
  --line-height-mobile: 1.4rem;
  --margin: 0;
  --navigation-background-color: var(--header-background-color); 
  --navigation-color-hover: white;
  --navigation-color: var(--color-secondary);
  --navigation-content-spacing: var(--content-spacing);
  --navigation-hr-color: var(--navigation-color);
  --p-date-text-transform: uppercase;
  --p-text-align: center;
  --picture-display: inline-block; /* chrome has a bug and does not apply the filter on images if display: flex; */
  --picture-filter-hover: none;
  --picture-filter: grayscale(100%);
  --picture-img-width: 100%;
  --picture-margin: 30px auto;
  --picture-transition: filter 0.8s ease;
  --picture-width-mobile: 100%; 
  --picture-width: 100%;
  --section-width-mobile: var(--content-width-not-web-component-mobile);
}
