/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --color-hover: #8d4674;
  --color-secondary: #777;
  --color: black;
  --content-spacing: 40px;
  --content-width: 80vw;
  --font-family-secondary: "Cardo", "Times New Roman", Times, serif;
  --font-family: "Circular", Helvetica, Arial, sans-serif;
  --font-weight: 300;
  --footer-background-color: var(--header-background-color); 
  --footer-color-hover: var(--navigation-color-hover);
  --footer-color: var(--color-secondary);
  --footer-content-width-mobile: 100%;
  --footer-content-width: 100%;
  --footer-min-height : 250px;
  --footer-min-height-mobile: 150px;
  --header-background-color: #222; 
  --header-color: var(--color-secondary);
  --header-content-spacing-mobile: 0;
  --header-content-spacing: 0;
  --header-content-width-mobile: 100%;
  --header-content-width: 100%;
  --header-height : 85px;
  --header-height-mobile: 50px;
  --hr-color: #e6e6e6;
  --navigation-background-color: var(--header-background-color); 
  --navigation-color-hover: white;
  --navigation-color: var(--color-secondary);
  --navigation-content-spacing: var(--content-spacing);
  --navigation-hr-color: var(--navigation-color);
  --picture-img-max-height: 80vh;
  --picture-margin: var(--content-spacing, unset) auto;  /* Warning! Keep horizontal margin at auto, otherwise the content width + margin may overflow into the scroll bar */
  --picture-width-mobile: 100%;
  --picture-width: var(--content-width, 80%);
  --stage-arrow-color: var(--color-secondary);
}
