/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --color-hover: #8d4674;
  --color-secondary: black;
  --color: black;
  --content-spacing: 40px;
  --content-width: 80vw;
  --font-family-secondary: "Cardo", "Times New Roman", Times, serif;
  --font-family: "Circular", Helvetica, Arial, sans-serif;
  --font-weight: 300;
  --footer-a-link-font-size: 2rem;
  --footer-a-link-font-size-2: 1.5rem;
  --footer-background-color: #343227; 
  --footer-color-hover: white;
  --footer-color: rgb(198, 2, 25);
  --footer-min-height : 250px;
  --footer-min-height-mobile: 150px;
  --header-background-color: #F6F6F4; 
  --header-color: var(--color-secondary);
  --header-content-spacing: 0;
  --header-content-spacing-mobile: 0;
  --header-content-width: 100%;
  --header-content-width-mobile: 100%;
  --header-height : 85px;
  --header-height-mobile: 50px;
  --hr-color: #e6e6e6;
  --navigation-a-link-font-size: 2rem;
  --navigation-background-color: var(--header-background-color); 
  --navigation-color-hover: var(--color-secondary);
  --navigation-color: var(--color-secondary);
  --navigation-content-spacing: var(--content-spacing);
  --navigation-hr-color: var(--navigation-color);
  --stage-arrow-color: var(--color-secondary);
}
