/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --a-display: block;
  --a-margin: 0;
  --a-text-align: center;
  --a-text-decoration-hover: none;
  --a-text-decoration: underline;
  --a-text-underline-offset: 0.2em; /* should be 6px but not visible */
  --animation: none;
  --any-a-display: inline;
  --background-color: #009fe3;
  --carousel-a-text-decoration-hover: var(--a-text-decoration-hover);
  --carousel-a-text-decoration: var(--a-text-decoration);
  --carousel-a-text-underline-offset: var(--a-text-underline-offset);
  --carousel-color-hover: var(--color-hover);
  --carousel-color: var(--color);
  --carousel-h3-font-family: var(--font-family-bold);
  --carousel-h3-font-size: var(--font-size);
  --carousel-h3-margin: 0;
  --carousel-h3-text-transform: uppercase;
  --carousel-p-margin: 0;
  --carousel-pagination-background-color-selected: white;
  --carousel-pagination-background-color: #FFED00;
  --carousel-pagination-bottom: 10%;
  --carousel-pagination-position: absolute;
  --carousel-pagination-width: 10px;
  --carousel-transition-duration: 1.6s;
  --color-hover-secondary: var(--color);
  --color-hover: var(--color);
  --color: #FFED00;
  --concerts-playlist-border-bottom: 2px solid white;
  --concerts-playlist-border-top: 2px solid white;
  --concerts-playlist-color: var(--concerts-color);
  --concerts-playlist-item-content-width-mobile: var(--content-width-not-web-component-mobile);
  --concerts-playlist-item-h4-font-family: var(--h4-font-family);
  --concerts-playlist-item-padding: var(--padding);
  --concerts-playlist-margin-first-child: 30px 0 0 0;
  --concerts-playlist-margin: 30px 0 10% 0;
  --concerts-playlist-width: 100%;
  --concerts-ul-text-align: var(--h1-text-align);
  --content-spacing-mobile: 0;
  --content-spacing: 20px;
  --content-width-mobile: 100%;
  --content-width-not-web-component-mobile: 90%;
  --content-width-not-web-component: 65%;
  --content-width: 45%;
  --flex-grow: 1;
  --flyer-duration-mobile: 0.8s;
  --flyer-duration: 1.2s;
  --flyer-timing-mobile: cubic-bezier(0.43, 1.77, 0, 0.43);
  --flyer-timing: cubic-bezier(0.88, 1.96, 0, 0.15);
  --font-family-bold: "Futura Now Text W05 XBlack", "OPTIFutura-ExtraBlackCond", "FuturaT", "Arial", sans-serif;
  --font-family-secondary: var(--font-family);
  --font-family: "Futura Now Text W05 Regular", "FuturaT", Arial, sans-serif;
  --font-size-mobile: min(18px, 5vw);
  --font-size: max(18px, 0.9vw);
  --font-weight: normal;
  --footer-a-display: inline;
  --footer-a-link-display-mobile: block;
  --footer-a-link-display: inline;
  --footer-a-link-font-size-mobile: var(--footer-a-link-font-size);
  --footer-a-link-font-size: 0.8rem;
  --footer-a-text-underline-offset: var(--a-text-underline-offset);
  --footer-align-content: flex-start;
  --footer-background-color: white;
  --footer-box-sizing: border-box;
  --footer-color-hover: #009fe3;
  --footer-color: #009fe3;
  --footer-content-width-mobile: 100%;
  --footer-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --footer-content-width-not-web-component: var(--content-width-not-web-component);
  --footer-content-width: 100%;
  --footer-engagement-logo-flex-flow: column-reverse;
  --footer-engagement-logo-justify-content: flex-start;
  --footer-engagement-logo-margin: 0;
  --footer-engagement-logo-max-height-mobile: 40px;
  --footer-engagement-logo-max-height: 40px;
  --footer-engagement-logo-padding: 24px 0 0;
  --footer-engagement-logo-text-a-color-hover: var(--footer-engagement-logo-text-a-color);
  --footer-engagement-logo-text-a-color: #009fe3;
  --footer-engagement-logo-text-color: #009fe3;
  --footer-engagement-logo-text-font-size-mobile: 0.42rem;
  --footer-engagement-logo-text-font-size: 0.49rem;
  --footer-engagement-logo-text-line-height: 11px;
  --footer-engagement-logo-text-padding-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-mobile-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile: 10px 0 0 34%;
  --footer-engagement-logo-text-padding: 10px 0 0 32%;
  --footer-flex-wrap: wrap; 
  --footer-font-size-mobile: var(--footer-a-link-font-size-mobile);
  --footer-font-size: var(--footer-a-link-font-size);
  --footer-homepage-background-color: #009fe3;
  --footer-homepage-logo-container-justify-content: flex-end;
  --footer-homepage-padding-mobile: 0 10px 5px 0;
  --footer-homepage-padding: var(--footer-padding);
  --footer-justify-content: space-between;
  --footer-logo-align-items: flex-end;
  --footer-logo-container-flex-wrap-mobile: wrap;
  --footer-logo-container-justify-content-wrapped-mobile: space-between;
  --footer-logo-container-justify-content-wrapped: flex-end;
  --footer-logo-height-mobile: max(50px, 15vw);
  --footer-logo-height: max(65px, 8vw);
  --footer-logo-margin-mobile: 8px 0 0;
  --footer-logo-margin: 0 0 -1vw 0;
  --footer-logo-max-height: max(120px, 5vw);
  --footer-logo-padding: 0;
  --footer-min-height-mobile: 50px;
  --footer-min-height: 50px;
  --footer-p-line-height: normal;
  --footer-p-margin: -3px 0px;
  --footer-padding-mobile: 3vh 2vw;
  --footer-padding: calc(2.4vw - 15px) 10px 2.4vw 10px;
  --footer-text-align: center;
  --footer-text-decoration-hover: underline;
  --footer-ul-margin-mobile: 0 auto 15px auto;
  --footer-ul-margin: 0 10px;
  --footer-ul-padding: 0;
  --form-flex-direction: row;
  --h1-font-size-mobile: var(--h1-font-size);
  --h1-font-size: min(2.223em, 9vw);
  --h1-line-height-mobile: var(--h1-line-height);
  --h1-line-height: 1.1em;
  --h1-text-align: center;
  --h1-text-transform: uppercase;
  --h2-font-size-mobile: var(--h1-font-size-mobile);
  --h2-font-size: var(--h1-font-size);
  --h2-line-height-mobile: var(--h1-line-height-mobile);
  --h2-line-height: var(--h1-line-height);
  --h2-margin: 10px;
  --h2-text-align: var(--h1-text-align);
  --h2-text-transform: uppercase;
  --h2-word-break: break-word;
  --h3-font-size-mobile: var(--h1-font-size-mobile);
  --h3-font-size: var(--h1-font-size);
  --h3-line-height-mobile: var(--h1-line-height-mobile);
  --h3-line-height: var(--h1-line-height);
  --h3-margin: 15px;
  --h3-text-align: var(--h1-text-align);
  --h3-text-transform: uppercase;
  --h4-font-family: var(--font-family-bold);
  --h4-font-size-mobile: var(--h1-font-size-mobile);
  --h4-font-size: var(--h1-font-size);
  --h4-line-height-mobile: var(--h1-line-height-mobile);
  --h4-line-height: var(--h1-line-height);
  --h4-margin: 0;
  --h4-text-align: var(--h1-text-align);
  --h4-text-transform: uppercase;
  --h5-font-family: var(--font-family-bold);
  --h5-font-size-mobile: var(--h1-font-size-mobile);
  --h5-font-size: var(--h1-font-size);
  --h5-line-height-mobile: var(--h1-line-height-mobile);
  --h5-line-height: var(--h1-line-height);
  --h5-margin: 20px auto 0;
  --h5-text-align: var(--h1-text-align);
  --h5-text-transform: uppercase;
  --h6-font-size-mobile: var(--h1-font-size-mobile);
  --h6-font-size: var(--h1-font-size);
  --h6-line-height-mobile: var(--h1-line-height-mobile);
  --h6-line-height: var(--h1-line-height);
  --h6-text-align: var(--h1-text-align);
  --h6-text-transform: uppercase;
  --header-a-font-size-open: 0;
  --header-a-font-size: var(--font-size-mobile);
  --header-a-line-height: 1.3em;
  --header-a-menu-icon-background-color: var(--header-color);
  --header-a-menu-icon-height-open-mobile: 0;
  --header-a-menu-icon-height: min(3px, 0.6vw);
  --header-a-menu-icon-margin-open-mobile: 0;
  --header-a-menu-icon-margin: 0;
  --header-a-menu-icon-spacing: min(6px, 1.4vw);
  --header-a-menu-icon-transition: background-color 1.2s ease;
  --header-a-menu-icon-width: min(55px, 16vw);
  --header-a-padding: 0;
  --header-a-text-decoration-hover: none;
  --header-a-text-underline-offset: var(--a-text-underline-offset);
  --header-a-transition: none;
  --header-background-animation: 1s ease;
  --header-background-color-open: white;
  --header-background-color: var(--header-background-color-open);
  --header-color: #009fe3;
  --header-content-spacing-mobile: var(--header-content-spacing);
  --header-content-spacing: 0;
  --header-content-width-mobile: var(--content-width-mobile);
  --header-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --header-content-width-not-web-component: var(--content-width-not-web-component-mobile);
  --header-content-width: var(--content-width-mobile);
  --header-flex-direction-mobile: column;
  --header-flex-direction: column;
  --header-height-mobile: auto;
  --header-height: auto;
  --header-intro-p-margin: 0;
  --header-intro-section-width-mobile: var(--content-width-not-web-component-mobile);
  --header-justify-content-mobile: end;
  --header-justify-content: end;
  --header-logo-height: 25vw;
  --header-logo-margin: 10px 0 0;
  --header-logo-max-height: max(100px, 5vw);
  --header-m-navigation-height-mobile: auto;
  --header-m-navigation-height-open-mobile: auto;
  --header-m-navigation-overflow-y-open-mobile: hidden;
  --header-m-navigation-position-mobile: static;
  --header-padding-mobile: var(--header-padding);
  --header-padding: 4vh 0 2vh;
  --header-position: static;
  --header-text-align: center;
  --header-title-color-nav-open: #009fe3;
  --header-title-color-secondary-nav-open: var(--header-title-color-nav-open);
  --header-title-color: var(--header-title-color-nav-open);
  --header-title-font-family-bold: var(--font-family-bold);
  --header-title-font-size-mobile: var(--h1-font-size-mobile);
  --header-title-font-size: var(--h1-font-size);
  --header-title-line-height-mobile: var(--header-title-line-height);
  --header-title-line-height: var(--h1-line-height);
  --header-title-margin: 0 max(2.2vw, 15px) 30px;
  --header-title-secondary-color-font-family: var(--font-family);
  --header-title-secondary-color-font-size-mobile: var(--header-title-secondary-color-font-size);
  --header-title-secondary-color-font-size: 0.8em;
  --header-title-secondary-color-text-transform: lowercase;
  --header-title-transition: color 0.8s ease;
  --header-transition: background-color 0.3s ease;
  --highlight-list-border-bottom: none;
  --highlight-list-border-top: none;
  --highlight-list-content-spacing: 40px 0;
  --highlight-list-content-width-mobile: 100%;
  --highlight-list-content-width: 80%;
  --highlight-list-flex-direction: column;
  --hr-color: transparent;
  --icon-display: block;
  --icon-height-mobile: 45px;
  --icon-height: 45px;
  --icon-margin: 15px auto 0 auto;
  --icon-width-mobile: 45px;
  --icon-width: 45px;
  --li-align-self: center;
  --li-margin: 0 12px;
  --line-height-mobile: 1.7em;
  --line-height: 1.5em;
  --main-padding-mobile: calc(var(--spacer-height-mobile)/2) 0 var(--spacer-height-mobile) 0;
  --main-padding: calc(var(--spacer-height)/2) 0 var(--spacer-height) 0;
  --module-wrapper-margin-mobile: 20% 0 0 0;
  --module-wrapper-margin: 15% 0 0 0;
  --navigation-a-link-color-nav-open: #009fe3;
  --navigation-a-link-content-spacing-nav-open: 0;
  --navigation-a-link-content-spacing: 0;
  --navigation-a-link-font-family: var(--font-family-bold);
  --navigation-a-link-font-size-nav-open: var(--h1-font-size);
  --navigation-a-link-font-size: 0;
  --navigation-a-link-line-height-nav-open: 1em;
  --navigation-a-link-line-height: var(--navigation-a-link-line-height-nav-open);
  --navigation-a-link-second-level-font-size-nav-open: calc(var(--navigation-a-link-font-size-nav-open) * 0.9);
  --navigation-a-link-second-level-font-size: 0;
  --navigation-a-link-second-level-line-height-nav-open: var(--navigation-a-link-line-height-nav-open);
  --navigation-a-link-text-transform: uppercase;
  --navigation-background-color: transparent;
  --navigation-border-top: 0;
  --navigation-color-hover: var(--navigation-a-link-color-nav-open);
  --navigation-color-open: var(--navigation-color);
  --navigation-color: #009fe3;
  --navigation-content-spacing: 0;
  --navigation-flex-direction: column;
  --navigation-hr-color: transparent;
  --navigation-li-ul-margin-nav-open: 0 0 3vh;
  --navigation-li-ul-position: static;
  --navigation-li-ul-width: 100%;
  --navigation-padding-top: 0;
  --navigation-padding: 0;
  --navigation-text-align: center;
  --navigation-transition: none;
  --orchestra-a-display: block;
  --orchestra-a-text-decoration: var(--a-text-decoration);
  --orchestra-p-margin: 20px;
  --orchestra-p-text-transform: uppercase;
  --p-date-text-transform: uppercase;
  --p-line-height: var(--line-height);
  --p-margin: 0;
  --p-text-align: center;
  --padding: 15px 0;
  --picture-img-max-height: 80vh;
  --picture-margin: var(--content-spacing, unset) auto;  /* Warning! Keep horizontal margin at auto, otherwise the content width + margin may overflow into the scroll bar */
  --picture-width-mobile: 100%;
  --picture-width: var(--content-width, 80%);
  --playlist-border-bottom: 2px solid white;
  --playlist-border-top: 2px solid white; 
  --playlist-item-a-color-hover: var(--color);
  --playlist-item-a-color: var(--color);
  --playlist-item-a-text-decoration-hover: var(--a-text-decoration-hover);
  --playlist-item-a-text-decoration: var(--a-text-decoration);
  --playlist-item-a-text-underline-offset: var(--a-text-underline-offset);
  --playlist-item-content-width-mobile: var(--content-width-not-web-component-mobile);
  --playlist-item-h4-font-family: var(--h4-font-family);
  --playlist-item-li-margin: 0 30px;
  --playlist-item-padding: var(--padding);
  --playlist-margin-first-child: 30px 0 0 0;
  --playlist-margin: 30px 0 10% 0;
  --playlist-width: 100%;
  --search-a-color: var(--color);
  --search-a-display: var(--a-display);
  --search-a-input-border-bottom-first: 2px solid white;
  --search-a-input-border-bottom: 2px solid white;
  --search-a-input-border-top-first: 2px solid white;
  --search-a-margin: var(--a-margin);
  --search-a-text-align: var(--a-text-align);
  --search-a-text-decoration-hover: var(--a-text-decoration-hover);
  --search-a-text-decoration: var(--a-text-decoration);
  --search-a-text-underline-offset: var(--a-text-underline-offset); 
  --search-balloon-font-size: min(var(--font-size-mobile), 3vw);
  --search-button-margin: 0;
  --search-button-position: absolute;
  --search-button-right-mobile: 0;
  --search-button-right: 30%;
  --search-button-transform-mobile: none;
  --search-button-transform: translateX(100%);
  --search-color-hover: var(--color);
  --search-color: var(--background-color);
  --search-content-width-mobile: var(--content-width-not-web-component-mobile);
  --search-content-width: var(--content-width-not-web-component);
  --search-display: inline;
  --search-field-a-margin: 0;
  --search-field-a-text-decoration-hover: none;
  --search-field-a-text-decoration: underline;
  --search-field-a-text-underline-offset: 0.2em; /* should be 6px but not visible */
  --search-field-button-border: 0;
  --search-field-button-font-family: var(--font-family);
  --search-field-button-text-decoration-hover: none;
  --search-field-button-text-decoration: underline;
  --search-field-button-underline-offset: var(--a-text-underline-offset);
  --search-field-color: var(--color);
  --search-field-flex-grow: var(--flex-grow);
  --search-field-font-family-bold: var(--search-font-family-bold);
  --search-field-input-box-shadow-mobile: none;
  --search-field-input-box-shadow: none;
  --search-field-input-padding: 0;
  --search-field-input-width-mobile: var(--content-width-not-web-component-mobile);
  --search-field-input-width: var(--content-width-not-web-component);
  --search-field-label-padding: 0;
  --search-field-label-width-mobile: var(--content-width-not-web-component-mobile);
  --search-field-label-width: var(--content-width-not-web-component);
  --search-field-padding: 10px 0;
  --search-field-text-transform-normal: none;
  --search-field-width-mobile: var(--search-field-width);
  --search-field-width: 100%;
  --search-font-family-bold: var(--font-family-bold);
  --search-font-family-secondary: var(--font-family);
  --search-form-flex-direction: var(--form-flex-direction);
  --search-h3-color: var(--color);
  --search-h3-font-size-mobile: var(--h1-font-size-mobile);
  --search-h3-font-size: var(--h1-font-size);
  --search-h3-line-height-mobile: var(--h1-line-height-mobile);
  --search-h3-line-height: var(--h1-line-height);
  --search-h3-margin: 15px;
  --search-h3-text-align: var(--h1-text-align);
  --search-h3-text-transform: uppercase;
  --search-h3-word-break-mobile: break-word;
  --search-icon-display: block;
  --search-icon-margin: 0;
  --search-icon-position: absolute;
  --search-icon-width-mobile: 35px;
  --search-icon-width: 50px;
  --search-li-align-self: var(--li-align-self);
  --search-p-text-align: var(--p-text-align);
  --search-ul-display: var(--ul-display);
  --search-ul-text-align: var(--ul-text-align);
  --section-width-mobile: var(--content-width-not-web-component-mobile);
  --spacer-height-mobile: 20vw;
  --spacer-height: 10vw;
  --strong-text-transform: uppercase;
  --summary-text-transform: var(--h1-text-transform);
  --tickets-a-display: inline;
  --tickets-a-text-decoration: var(--a-text-decoration);
  --ul-display: flex;
  --ul-text-align: var(--h1-text-align);
  --video-margin: 70px auto 0 auto;
  --video-width: var(--picture-width);
}
