:host {
  --footer-default-content-spacing-mobile: var(--content-spacing-mobile);
  --footer-default-content-spacing: var(--content-spacing);
  --footer-default-gap: var(--footer-default-gap-custom, var(--content-spacing));
  --footer-default-invert-a-color-hover: var(--footer-default-invert-a-color-hover-custom, var(--color-hover));
  --footer-default-invert-background-color: var(--footer-default-invert-background-color-custom, var(--color-secondary));
  --footer-default-invert-color: var(--footer-default-invert-color-custom, var(--background-color));
  --footer-default-wrapper-contains-details-margin-bottom: 0;
  --picture-footer-logo-img-width: min(35px, 10vw);
  --picture-store-logo-img-margin-mobile: var(--picture-store-logo-img-margin);
  --picture-store-logo-img-margin: 0;
}