<!DOCTYPE html>
<html lang=de>
<head>
  <meta charset=UTF-8>
  <meta name="user-scalable=no, viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Erfahre hier die neusten Informationen über die Klub-Konzerte des Migros-Kulturprozent-Classics.">
  <link href=../../../favicon/classics/FAVICON_CLASSICS_YELLOW.ico rel="shortcut icon" type=image/x-icon>
  <link href=../../../css/variablesClassics.css rel=stylesheet>
  <link href=../../../css/initial.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>Classics Spielplan</title>
</head>
<body>
  <style>
    /* setting here for testing purposes, on PROD would be controlled by Umbraco*/
    html {
      --background-color: #ffed00;
      --color: #009fe3;
    }
  </style>
  <p-general>
    <o-header namespace="header-">
      <!-- TODO navigation -->
    </o-header>
    <o-body>
      <main>
        <h2>Spielplan</h2>

        <o-playlist namespace="concerts-playlist-" border-top-first-child="true">
          <m-playlist-item  namespace="playlist-item-" href="/en/concerts/playlist/london-symphony-orchestra">
            <h4><div style="width:100%"><div style="display:inline-block">18*10*2021</div>&nbsp;&nbsp;/&nbsp;&nbsp;<div style="display:inline-block">19*10*2021</div>&nbsp;&nbsp;/&nbsp;&nbsp;<div style="display:inline-block">20*10*2021</div>&nbsp;&nbsp;/&nbsp;&nbsp;<div style="display:inline-block">21*10*2021</div></div></h4><h4><a href="/en/concerts/playlist/london-symphony-orchestra"> LONDON SYMPHONY ORCHESTRA </a></h4><p></p><div style="width:100%"><div style="display:inline-block">LUCERNE</div>&nbsp;&nbsp;*&nbsp;&nbsp;<div style="display:inline-block">BERN</div>&nbsp;&nbsp;*&nbsp;&nbsp;<div style="display:inline-block">GENEVA</div>&nbsp;&nbsp;*&nbsp;&nbsp;<div style="display:inline-block">ZURICH</div></div><p></p><p>Daniel Harding (Conductor) <br></p><p>Antoine Tamestit (Viola) <br></p>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <h4>07*10*21</h4>
            <h4>Bayrisches Staatsorchester</h4>
            <p><a href="#">ZÜRICH</a> * <a href="#">GENF</a> * <a href="#">BERN</a></p>
            <p>Vlaidmir Jurowski (Dirigent)</p>
            <p>Frank Peter Zimmermann (Violine)</p>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <h4>07*10*21</h4>
            <h4>Bayrisches Staatsorchester</h4>
            <p><a href="#">ZÜRICH</a> * <a href="#">GENF</a> * <a href="#">BERN</a></p>
            <p>Vlaidmir Jurowski (Dirigent)</p>
            <p>Frank Peter Zimmermann (Violine)</p>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <h4>07*10*21</h4>
            <h4>Bayrisches Staatsorchester</h4>
            <p><a href="#">ZÜRICH</a> * <a href="#">GENF</a> * <a href="#">BERN</a></p>
            <p>Vlaidmir Jurowski (Dirigent)</p>
            <p>Frank Peter Zimmermann (Violine)</p>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <h4>07*10*21</h4>
            <h4>Bayrisches Staatsorchester</h4>
            <p><a href="#">ZÜRICH</a> * <a href="#">GENF</a> * <a href="#">BERN</a></p>
            <p>Vlaidmir Jurowski (Dirigent)</p>
            <p>Frank Peter Zimmermann (Violine)</p>
          </m-playlist-item>
        </o-playlist>
        <div class="spacer"></div>

        <h3>Bereits gespielte Konzerte</h3>

        <o-playlist namespace="concerts-playlist-" border-top-first-child="true">
          <m-playlist-item  namespace="playlist-item-">
            <h4>07*03*20</h4>
            <h4>Bayrisches Staatsorchester</h4>
            <h4>ZÜRICH * GENF * BERN</h4>
            <p>Simone Young (Dirigentin)</p>
            <p>Daniel Müller-Schott (Violincello)</p>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <h4>07*03*20</h4>
            <h4>Bayrisches Staatsorchester</h4>
            <h4>ZÜRICH * GENF * BERN</h4>
            <p>Simone Young (Dirigentin)</p>
            <p>Daniel Müller-Schott (Violincello)</p>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <h4>07*03*20</h4>
            <h4>Bayrisches Staatsorchester</h4>
            <h4>ZÜRICH * GENF * BERN</h4>
            <p>Simone Young (Dirigentin)</p>
            <p>Daniel Müller-Schott (Violincello)</p>
          </m-playlist-item>
          <m-playlist-item  namespace="playlist-item-">
            <p>07*03*20</p>
            <p>Bayrisches Staatsorchester</p>
            <p>LUZERN</p>
            <p>Simone Young (Dirigentin)</p>
          </m-playlist-item>
        </o-playlist>

        <div class="spacer"></div>
      </main>
    </o-body>
    <o-footer theme="classics" namespace="footer-">
      <div>
        <a-logo class="hide-mobile" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
      </a-logo>
      </div>      
      <div class="footer-ul-wrapper">
        <ul>
          <li><p><a href="#">CLASSICS-Newsletter bestellen</a></p></li>
          <li><p><a href="#">Programm Archiv</a></p></li>
          <li>
            <p>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">DE</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">FR</a>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">EN</a>
              </a-link>
            </p>
          </li>
          <br>
          <li>
            <p>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Impressum</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Datenschutz</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Rechtliche Hinweise</a>
                <span>, </span>
              </a-link>
              <a-link namespace="footer-" text-transform="uppercase">
                <a href="#">Kontakt</a>
              </a-link>
            </p>
          </li>
        </ul>
      </div>
      <div class="logo-container">
        <a-logo class="hide-desktop" namespace="footer-engagement-logo-" src="https://www.migros-engagement.ch/dam/jcr:b1ff6b31-f8ba-4b68-91cb-132c8d781014/MIGROS-Engagement_EN.svg" href="https://migros-engagement.ch" target="_blank" lang="de">
          <p>
              Die Migros-Kulturprozent-Classics sind Teil des gesellschaftlichen Engagements der Migros-Gruppe:&nbsp;
              <br />
              <strong>
                  <a href="https://migros-engagement.ch" target="_blank">migros-engagement.ch</a>
              </strong>
          </p>
        </a-logo>
        <a-logo src=../../../img/migros_kulturprozent_classics_cyan.svg alt="Kulturprozent Classics Logo" href="#" namespace="footer-logo-"></a-logo>
      </div>
</o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '600px'
    }
  </script>
  <!-- fonts -->
  <script type="text/javascript" async src="https://fast.fonts.net/jsapi/2b52b456-d052-418d-8595-f1c46d3439fb.js"></script>
  <!-- /fonts -->
</body>
</html>
