:host {
    --button-category-width-custom: 100%;
    --button-primary-width: 100%;
    --button-quaternary-width: 100%;
    --button-secondary-width: 100%;
    --button-tertiary-width: 100%;
    flex-direction: row;
}
:host([grow]) > * {
    flex-grow: 1;
}
@media only screen and (max-width: _max-width_) {
    :host {
        justify-content: start;
    }
}
