:host {
    --form-order-item-default-border-top-color:pink;
    --form-order-item-default-padding: calc(var(--content-spacing)/2) 0;
    --form-order-item-default-a-input-width: var(--form-order-item-default-a-input-width-custom, 4em);
    --button-tertiary-icon-left-margin:0;
    --button-tertiary-icon-height:1em;
    --button-tertiary-icon-width:1em;
}

:host .product {
    background-color:green;
    width: 12em;
}

:host .type {
    background-color:aqua;
    width:5em;
}

:host .quantity {

    background-color:red;
}

:host .price {
    text-align:right;
    width:5em;
}

:host .price-total{
    text-align:right;
    background:rosybrown;
    width: 10em;
}