:host {
    --content-width: 100%;
}
:host nav {
    visibility: hidden;
}

:host a-slider-button {
    grid-column: 1;
    grid-row: 1;
}

:host {
    display: flex;
    justify-content: flex-start !important;
    flex-direction: column;
    align-content: center;
}

:host .nav {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
    width: 100%;
    display:flex;
    justify-content: center;
}

:host .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: var(--slider-width);
    margin-bottom: 50px !important;
    margin: 0 16.6666666667%;
    padding: 0 12px;
}

:host .content article {
    width: 80%;
}

@media (min-width: 1200px) {
    :host {
        --slider-width: 1008px;
    }  
    :host .nav a-picture {
        --picture-img-height: 360px;
        --picture-img-width: 480px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    :host {
        --slider-width: 888px;
    }  
    :host .nav a-picture {
        --picture-img-height: 306px;
        --picture-img-width: 408px;
    }
    :host .content {
        margin: 0 8.3333333333%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    :host {
        --slider-width: 648px;
    }  
    :host .nav a-picture {
        --picture-img-height: 306px;
        --picture-img-width: 408px;
    }
    :host .content {
        margin: 0 8.3333333333%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    :host {
        --slider-width: 90%;
        --slider-max-width: 748px;
    }  
    :host .nav a-picture {
        --picture-img-height: 213px;
        --picture-img-width: 284px;
    }
    :host .content {
        padding-right: 8px;
        padding-left: 8px;
    }
}

@media screen and (max-width: 479px) {
    :host {
        --slider-width: 95%;
    }
    :host .nav a-picture {
        --picture-img-height: 135px;
        --picture-img-width: 180px;
    }
}