:host section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
}

:host section .legendImage{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #97A619;
    border-radius: 50%;
    margin-right: 30px;
    padding: 8px;
}

