:host section {
    --menu-legends-align-items: flex-start;
    --menu-legends-gap: 3.75rem;
    --menu-legends-justify-content: flex-start;
}

:host section .legend{
    align-items: center;
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 9rem;
}

:host section .legendImage{
    background-color: var(--color-secondary);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}
