:host > dialog[open] {
  /* open */
  opacity: 1;
  transform: translateX(0);
}
:host > dialog {
  /* close */
  border: 0 none;
  margin: 0;
  opacity: 1;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.3s;
  padding: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 560px;
  z-index: 99;
}
:host > dialog.closed {
  /* close */
  opacity: 0;
  transform: translateX(-100%);
}
@starting-style {
  /* before */
  :host > dialog[open] {
    opacity: 1;
    transform: translateX(-100%);
  }
}
:host > dialog::backdrop {
  background-color: rgb(0 0 0 / 0);
  transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete,
    background-color 0.3s;
}
:host > dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}
@starting-style {
  :host > dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0);
  }
}
@media only screen and (max-width: _max-width_) {
  :host .container #close {
    position: relative;
    right: 0;
  }
}
.container {
    align-items: center;
    display: flex;
    gap: 1.25rem;
    max-width: _max-width_;
    margin: 0 auto;
    padding: calc(24rem/18);
}
.container #close {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: var(--close-height, 2.25em);
    justify-content: center;;
    margin-bottom: 0;
    position: absolute;
    right: 1.25em;
    width: var(--close-width, var(--close-height, 2.25em));
    z-index: 100;
}
.container #close a-icon-mdx[icon-name="Plus"]::part(svg) {
    transform: rotate(45deg);
}
:host .dialog-header {
  border-bottom: 1px solid var(--color-gray-300, rgba(224, 224, 224, 1));
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: calc(24rem/18); */
}
:host .dialog-header > * {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0;
}
:host .dialog-header > h3 {
  justify-content: center;
}
:host .dialog-header > #close {
  position: relative;
  right: 0;
  justify-content: flex-end;
}